<div fxLayout="column" fxLayoutAlign="start center">
  <carousel (nextScreen)="onForward()" (prevScreen)="onBack()">
    <ng-container *ngFor="let item of items;">
      <ng-container *carouselItem>
        <div class="item" fxLayout="column" fxLayoutAlign="start center">
          <div class="item-title">{{item.title}}</div>
          <img class="item-image" src="{{item.image}}" alt="{{item.title}}">
          <p class="description">
            {{item.description}}
          </p>
        </div>
      </ng-container>
    </ng-container>
  </carousel>
</div>
