.welcome-title{
  font-family: Roboto-Bold;
  font-size: 40px;
  color: rgb(34, 119, 186);
  border-bottom: 1px solid rgb(155, 160, 160);
  width: 100%;
}

.welcome-text{
  color: rgb(55, 55, 65);
  font-size: 20px;
}

.final-icon{
  height: 200px;
  width: 200px;
  font-size: 200px;
  color: rgb(34, 119, 186);
}

.final-text{
  color: rgb(55, 55, 65);
  font-size: 20px;
  text-align: center;
}

.item {
  width: 100vw;
  height: 100%;
  padding: 24px 24px 0px 24px;
}

.item .description-container {
  height: 30%;
}

.item .description {
  text-align: justify;
}

.item .item-title{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
}

.item .item-image {
  height: 70%;
}
