<div class="dialog-label" fxLayout="row" fxLayoutAlign="end center" >
  <mat-icon class="color-custom-dark" style="padding-right: 10px;">info_outline</mat-icon>
</div>

<div mat-dialog-content>
  <mat-nav-list>
    <mat-list-item style="height: 54.5px!important; border-bottom: 1px solid #e0e0e0;" *ngFor="let factor of factors; let last = last"
                   [class.last-item]="last"
                   (click)="goTo(factor)">

      <h4 mat-line class="factor-text">
        <div class="factor-icon" *ngIf="factor.icon">
          <mat-icon matPrefix class="factor-icon-padding" >{{factor.icon}}</mat-icon>
        </div>
        <div class="factor-icon" fxLayoutAlign="space-around center" *ngIf="factor.icon_asset">
          <div fxLayoutAlign="center center">
            <span class="{{factor.icon_asset}}"></span>
          </div>
        </div>
        {{factor.name}}
      </h4>
    </mat-list-item>
  </mat-nav-list>
</div>

