<form
  class="width-button-container"
  fxLayout="column"
  fxLayoutAlign="start center"
  (ngSubmit)="onSubmit()">

  <div class="spatium-textfield entry bottom32">
    <input
      name="Password"
      type="password"
      placeholder="Password"
      [ngModel]="password"
      (ngModelChange)="onPasswordChange($event)"
      [class]="caretClass"
      [autofocus]
      required
      minlength="1"
      #passwordModel="ngModel">
  </div>

  <button
    type="submit"
    mat-raised-button
    color="accent"
    class="width-button color"
    [disabled]="passwordModel.invalid">
    {{ action }}
  </button>
</form>
