<div style="height: 5px;">
  <mat-progress-bar mode="indeterminate" *ngIf="load" color="accent" style="width: 100%"></mat-progress-bar>
</div>

<div fxLayout="column" fxLayoutAlign="start center">
  <mat-form-field class="full-width" color="accent">
    <mat-select placeholder="С какого кошелька" [disabled]="disableFields">
      <mat-select-trigger *ngIf="walletAddress">
        <span class="address">{{walletAddress}}</span> ({{balanceBtcUnconfirmed}} BTC)
      </mat-select-trigger>
      <mat-option *ngIf="walletAddress" [value]="walletAddress">
        <span class="address">{{walletAddress}}</span> ({{balanceBtcUnconfirmed}} BTC)
      </mat-option>
    </mat-select>
  </mat-form-field>

  <table class="full-width">
    <tr>
      <td align="left" width="50%">
        <mat-form-field style="width: 120px;">
          <input matInput placeholder="BTC" [value]="balanceBtcUnconfirmed" disabled>
        </mat-form-field>
      </td>
      <td align="right" width="50%">
        <mat-form-field style="width: 120px;">
          <input matInput placeholder="USD" [value]="balanceUsd" disabled>
        </mat-form-field>
      </td>
    </tr>
  </table>

  <mat-form-field class="full-width" color="accent">
    <input matInput placeholder="Адрес получателя" [value]="addressReceiver" [disabled]="disableFields">
  </mat-form-field>

  <table class="full-width">
    <tr>
      <td align="left" width="50%">
        <mat-form-field style="width: 120px;" color="accent">
          <input matInput placeholder="BTC" [value]="sendBtc" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                 step="0.01" (change)="changeSum('btc')" [disabled]="disableFields">
        </mat-form-field>
      </td>
      <td align="right" width="50%">
        <mat-form-field style="width: 120px;" color="accent">
          <input matInput placeholder="USD" [value]="sendUsd" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                 step="0.01" (change)="changeSum('usd')" [disabled]="disableFields">
        </mat-form-field>
      </td>
    </tr>
  </table>
  <button mat-button (click)="stateChange()">next state</button>

  <div class="full-width" fxLayout="column" fxLayoutAlign="center center" style="position: absolute; bottom: 30px">

    <span style="font-family: 'Roboto-Medium'; font-size: 15px"
          *ngIf="state==1 && !isSecond">Подтвердите транзакцию на {{connectedDevice}}</span>
    <span style="font-family: 'Roboto-Medium'; font-size: 15px"
          *ngIf="state==1 && isSecond">Подтвердите транзакцию, созданную на {{connectedDevice}}</span>
    <mat-progress-bar mode="indeterminate" color="accent" style="width: 100%; margin: 5px 0"
                      *ngIf="state==1"></mat-progress-bar>

    <span style="font-family: 'Roboto-Medium'; font-size: 15px"
          *ngIf="state==2">Подписание транзакции</span>
    <mat-progress-bar mode="determinate" [value]="progressCreateTransaction" color="accent"
                      style="width: 100%; margin: 5px 0" *ngIf="state==2"></mat-progress-bar>

    <span *ngIf="state==3"
          style="font-family: 'Roboto-Medium'; font-size: 15px; display: inline-flex; align-items: center;" class="green-color">
      <mat-icon>bluetooth</mat-icon>
      Транзакция создана и подписана
    </span>
    <mat-progress-bar mode="determinate" value="100" color="accent" style="width: 100%; margin: 5px 0"
                      *ngIf="state==3"></mat-progress-bar>

    <button *ngIf="state==3 && !isSecond" mat-raised-button color="accent" class="width-button-full color" (click)="sendTransaction()">
      Отправить
    </button>
    <button mat-raised-button color="accent" class="width-button-full color" (click)="stateChange()" *ngIf="state<3"
            [disabled]="initContinueDisabled">Продолжить
    </button>
    <button mat-raised-button color="accent" class="width-button-full color" *ngIf="(!isSecond && state>0) || (isSecond && state <3)" (click)="cancelTransaction()"
            [disabled]="initCancelDisabled">Отмена
    </button>
    <div style="height: 146px;" *ngIf="state==3 && isSecond"></div>
  </div>
</div>

