<div fxLayout="column" fxLayoutAlign="start center" style="height: 100%">
  <div style="height: 5px;">
    <mat-progress-bar mode="indeterminate" *ngIf="loading" color="accent" style="width: 100%"></mat-progress-bar>
  </div>
  <mat-form-field class="full-width" color="accent">
    <mat-select placeholder="С какого кошелька" [disabled]="disableFields" [(value)]="selected">
      <mat-option *ngIf="walletAddress" [value]="walletAddress">
        <span class="address">{{walletAddress}}</span> ({{balanceBtcUnconfirmed}} BTC)
      </mat-option>
    </mat-select>
  </mat-form-field>

  <table class="full-width">
    <tr>
      <td align="left" width="50%">
        <mat-form-field style="width: 120px;">
          <input matInput placeholder="BTC" [value]="balanceBtcUnconfirmed" disabled>
        </mat-form-field>
      </td>
      <td align="right" width="50%">
        <mat-form-field style="width: 120px;">
          <input matInput placeholder="USD" [value]="balanceUsd" disabled>
        </mat-form-field>
      </td>
    </tr>
  </table>

  <mat-form-field class="full-width" color="accent">
    <input matInput placeholder="Адрес получателя" [(ngModel)]="addressReceiver" [disabled]="disableFields">
  </mat-form-field>

  <table class="full-width">
    <tr>
      <td align="left" width="50%">
        <mat-form-field style="width: 120px;" color="accent">
          <input matInput placeholder="BTC" [(ngModel)]="sendBtc" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                 step="0.01" [disabled]="disableFields">
        </mat-form-field>
      </td>
      <td align="right" width="50%">
        <mat-form-field style="width: 120px;" color="accent">
          <input matInput placeholder="USD" [(ngModel)]="sendUsd" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                 step="0.01" disabled>
        </mat-form-field>
      </td>
    </tr>
  </table>

  <div class="full-width" fxLayout="column" fxLayoutAlign="center center" style="position: fixed; bottom: 30px">

    <span style="font-family: 'Roboto-Medium'; font-size: 15px"
          *ngIf="state==1">Ожидается подтверждение</span>
    <span style="font-family: 'Roboto-Medium'; font-size: 15px"
          *ngIf="state==2">Подписание транзакции</span>
    <mat-progress-bar mode="indeterminate" color="accent" style="width: 100%; margin: 5px 0"
                      *ngIf="state==1 || state==2"></mat-progress-bar>

    <span *ngIf="state==3"
          style="font-family: 'Roboto-Medium'; font-size: 15px; display: inline-flex; align-items: center;" class="green-color">
      Транзакция создана и подписана
    </span>
    <mat-progress-bar mode="determinate" value="100" color="accent" style="width: 100%; margin: 5px 0"
                      *ngIf="state==3"></mat-progress-bar>

    <button *ngIf="state==3 && !isSecond" mat-raised-button color="accent" class="width-button-full color" (click)="sendTransaction()">
      Отправить
    </button>
    <button mat-raised-button color="accent" class="width-button-full color" (click)="startSigning()" *ngIf="state==0"
            [disabled]="initContinueDisabled">Перевести
    </button>
    <button mat-raised-button color="accent" class="width-button-full color" (click)="accept()" *ngIf="state==1 && isSecond"
            [disabled]="initContinueDisabled">Подтвердить
    </button>
    <button mat-raised-button color="accent" class="width-button-full color" *ngIf="state==2"
            [disabled]="initContinueDisabled">Продолжить
    </button>
    <button mat-raised-button color="accent" class="width-button-full color" (click)="skip()" *ngIf="state==3 && isSecond"
            [disabled]="initContinueDisabled">Продолжить
    </button>
    <button mat-raised-button color="accent" class="width-button-full color" *ngIf="(!isSecond && state>0) || (isSecond && state <3 && state>0)" (click)="cancelTransaction()"
            [disabled]="initCancelDisabled">Отмена
    </button>
  </div>
</div>

