<div fxLayout="column" fxLayoutAlign="center center"  class="content">
  <div class="width-button-container margin97"  *ngIf="disabledNFC">

    <div class="connect-text">
      <span>{{ enableNFCmessage }}</span>
    </div>

    <button mat-fab  class="width-button">
      <mat-icon (click)="changeNFCState()">nfc
      </mat-icon>
    </button>

  </div>

  <div [class]="classNfcContainer" *ngIf="!disabledNFC">
    <div class="small-video-container" fxLayout="column" fxLayoutAlign="center center">
      <mat-icon style="width: 200px;
    height: 200px;
    font-size: 200px;" class="pulse">nfc</mat-icon>
    </div>
  </div>

  <div style="position: absolute; width: 100%; text-align: center; bottom: 0px;" *ngIf="!disabledNFC && isRepeatable && !canScanAgain">
    <span >{{ text }}</span>
  </div>
  <div style="position: absolute; width: 100%; text-align: center; bottom: 30px;" *ngIf="!disabledNFC && !isRepeatable && !canScanAgain">
    <span >{{ text }}</span>
  </div>

  <div style="height:250px;" fxLayoutAlign="center center" class="content" *ngIf="!disabledNFC && isRepeatable && canScanAgain">
    <div class="small-video-container" fxLayout="column" fxLayoutAlign="center center">
      <div class="glass">
        <mat-icon style="width: 200px; height: 200px; font-size: 200px;">nfc</mat-icon>
      </div>

      <button mat-icon-button class="gigantic-button" (click)="scanAgain()">
        <mat-icon class="size-130">sync</mat-icon>
      </button>
    </div>
  </div>
</div>



