<div class="box" fxLayout="column" fxLayoutAlign="start center">
  <div class="header text-center">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="onBackClicked()">
          <mat-icon class="color-custom-dark" *ngIf="isBlack">arrow_back</mat-icon>
          <mat-icon *ngIf="!isBlack">arrow_back</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <app-logo-block></app-logo-block>
  </div>


  <router-outlet name="factor"></router-outlet>

</div>
