<div fxLayout="column" fxLayoutAlign="start center">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button routerLink="/{{back}}">
        <mat-icon class="color-custom-dark">arrow_back</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div style="height: 30px;"></div>
  <div class="start-logo-text" >
  </div>
  <div class="start-tagline-padding">
    <span class="start-tagline">Secure your funds</span>
  </div>
  <div style="height: 24.5px"></div>

  <router-outlet name="factor"></router-outlet>

</div>
