<mat-toolbar color="primary" class="header-toolbar shadow">
  <mat-toolbar-row>
    <button mat-icon-button class="back-button" (click)="onBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span style="overflow: hidden; text-overflow: ellipsis;">Connect to a device</span>
    <span class="spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

<div fxLayout="column" fxLayoutAlign="start center" style="z-index: 1;" class="box">
  <mat-progress-bar
    mode="indeterminate"
    color="accent"
    style="width: 100%; position: fixed; z-index: 2;"
    *ngIf="(connecting | async) || (searchState | async) === stateType.Stopping">
  </mat-progress-bar>

  <div class="width-button-container" fxLayout="column" fxLayoutAlign="start center">
    <mat-nav-list style="width: 100%;">
      <mat-list-item *ngFor="let device of (devices | async)" (click)="connectTo(device)">
        <p class="list-name" mat-line>{{ device.name }}</p>
        <p class="list-info" mat-line>{{ device.macAddress }} {{ device.ip }}</p>
        <mat-icon class="list-icon" *ngIf="device.paired" matSuffix>link</mat-icon>
        <mat-icon class="list-icon">{{ (providers | async).get(device.provider).icon }}</mat-icon>
        <span class="{{ (providers | async).get(device.provider).custom_icon }}"></span>
      </mat-list-item>
    </mat-nav-list>

    <div class="connect-div" *ngIf="(disabledProviders | async).length > 0">
      <span class="message">Cannot find a device?</span>
      <div *ngFor="let provider of (disabledProviders | async)">
		<span class="message" *ngIf="!(provider.service.supported | async)">Connect a {{ provider.name }} device</span>
        <button
          mat-button
          color="accent"
          (click)="enableProvider(provider)"
          *ngIf="(provider.service.supported | async) && (provider.service.deviceState | async) === stateType.Stopped">
          Enable {{ provider.name }}
        </button>
        <button
          mat-button
          color="accent"
          (click)="enableProvider(provider)"
          *ngIf="(provider.service.supported | async) && (provider.service.deviceState | async) === stateType.Starting">
          {{ provider.name }} settings
        </button>
      </div>
    </div>

    <div style="width: 100%; text-align: center; padding: 5px 0px;">
      <button mat-icon-button (click)="startDiscovery()" [disabled]="(connecting | async) || (searchState | async) !== stateType.Stopped || !(ready | async)">
        <mat-icon class="button-imitator-large" *ngIf="(searchState | async) === stateType.Stopped || (searchState | async) === stateType.Stopping">sync</mat-icon>
        <mat-icon class="button-imitator-large sync" *ngIf="(searchState | async) === stateType.Started || (searchState | async) === stateType.Starting">sync</mat-icon>
      </button>
    </div>
  </div>
</div>


