<app-toolbar
  (backClicked)="onBackClicked()"></app-toolbar>

<div fxLayout="column" fxLayoutAlign="start center" class="box" id="factor-container" #factorContainer
     style="overflow: auto;">
  <div class="header text-center">
    <app-logo-block></app-logo-block>
  </div>

  <form
    class="width-button-container content text-center"
    style="margin-top: 30px; margin-bottom: 0px; overflow: unset; display: flex; flex-flow: column; display: flex; flex-flow: column;"
    (submit)="signUp()">
    <div class="header text-center">
      <div class="entry" style="padding-bottom: 20px">
        <div class="light" style="text-align: center; overflow: hidden; text-overflow: ellipsis; display: inline-block">
          {{ login }}
        </div>
      </div>

      <div class="spatium-textfield entry bottom10">
        <input
          type="password"
          placeholder="Password"
          [(ngModel)]="password"
          name="password"
          required
          minlength="1"
          equal-to="confirmPassword" equal-reverse="true"
          [disabled]="uploading"
          #passwordInput="ngModel">
      </div>

      <div class="spatium-textfield entry password-confirm">
        <input
          type="password"
          placeholder="Confirm password"
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          equal-to="password"
          [disabled]="uploading"
          #confirmPasswordInput="ngModel">
      </div>
    </div>

    <div
      class="content text-center"
      fxLayout="column"
      fxLayoutAlign="center center"
      style="overflow: auto; max-height: 100%; min-height: fit-content;"
      *ngIf="!advanced">
      <div class="reg-warning">
        <span>{{ stWarning }}</span>
      </div>
      <div class="width-button-width" style="display: inline-block">
        <button type="button" mat-button style="opacity: 0.5; text-decoration: underline; color: #1a0dab;" (click)="openAdvanced()">Advanced security</button>
      </div>
    </div>

    <div
      class="content text-center"
      style="min-height: fit-content; overflow: auto; max-height: 100%; min-height: fit-content;"
      *ngIf="advanced">
      <div
        style="width: 100%;"
        fxLayout="column"
        fxLayoutAlign="center center"
        *ngFor="let factor of (factorItems | async);"
        [@anim]="'active'">
        <div style="margin-left: 50px;">
          <button
            mat-icon-button
            [disabled]="uploading"
            style="width: 16px; height: 16px; line-height: 16px"
            (click)="removeFactor(factor)">
            <mat-icon style="height: 14px; width: 14px; font-size: 14px; line-height: 14px">close</mat-icon>
          </button>
        </div>

        <div *ngIf="factor.icon">
          <mat-icon color="accent"  matPrefix class="factor-icon-big">{{ factor.icon }}</mat-icon>
        </div>
        <div fxLayoutAlign="center center" style="height: 50px; width: 50px;" *ngIf="factor.icon_asset">
          <span class="{{factor.icon_asset}}-mask"></span>
        </div>
      </div>

      <div class="margin-top-18" style="padding-bottom: 10px;" *ngIf="advanced">
        <button #dialogButton [disabled]="uploading" color="accent" mat-mini-fab (click)="openFactorDialog()" type="button" class="color">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>

    <div class="footer text-center" style="bottom: 0px;">
      <button
        type="submit"
        mat-raised-button
        color="accent"
        [disabled]="passwordInput.invalid || confirmPasswordInput.invalid" class="width-button color" *ngIf="!uploading">
        Sign up
      </button>
      <button type="button" mat-raised-button color="accent" class="width-button color" disabled *ngIf="uploading">
        <mat-spinner diameter="25" style="margin: auto;"></mat-spinner>
      </button>
    </div>
  </form>
</div>


