<app-toolbar
  label = "Synchronization"
  [isColored] = "true"
  [isShadowed] = "true"
  (backClicked)="onBack()">
</app-toolbar>

<div fxLayout="column" fxLayoutAlign="start center" style="z-index: 1;" class="box">
  <mat-progress-bar
    mode="determinate"
    color="accent"
    [value]="(progress | async)"
    style="width: 100%; position: fixed; z-index: 2;">
  </mat-progress-bar>

  <div fxLayout="column" fxLayoutAlign="start start" class="box">
    <mat-list class="list">
      <mat-list-item *ngFor="let coin of synchedCoins">
        <span *ngIf="coin.status === coinStatusType.Synchronizing || coinStatusType.Ready">
          Syncing {{ coin.name }}...&nbsp;
        </span>
        <span *ngIf="coin.status === coinStatusType.Ready">
          done
        </span>
      </mat-list-item>
    </mat-list>
  </div>
</div>
