<div class="connection-div" fxLayout="row" fxLayoutAlign=" center">
  <mat-icon class="list-icon">wifi</mat-icon>
  <span>WiFi/LAN synchronization</span>

  <span class="spacer"></span>

  <mat-slide-toggle
    mat-list-item
    class="custom-slide-toggle"
    [checked]="(toggled | async)"
    (change)="toggle($event)">
  </mat-slide-toggle>
</div>

<div fxLayout="column" fxLayoutAlign="start stretch" *ngIf="(toggled | async)">
  <div fxLayout="row" fxLayoutAlign="start center" class="status">
    <!-- <span class="list-status" *ngIf="(connectedDevice | async) !== null && (connectionState | async) === connectionStateType.Connected">
      Connected to {{ (connectedDevice | async).name }}
    </span>
    <span fxLayout="row" fxLayoutAlign="start center" style="width: 100%" *ngIf="(connectableState | async) !== stateType.Started && (globalConnectionState | async) !== connectionStateType.Connected">
      <span fxLayout="row" fxLayoutAlign="start center" style="width: 100%" *ngIf="(waiting | async)">
        <span class="list-status">
          No WiFi/LAN
        </span>
        <span class="spacer"></span>
        <button mat-button color="accent" class="button-style" *ngIf="(deviceState | async) === stateType.Stopped" (click)="enableWifi()">Enable WiFi</button>
        <button mat-button color="accent" class="button-style" *ngIf="(deviceState | async) === stateType.Starting" (click)="networkSettings()">Connect to network</button>
      </span>
      <span fxLayout="row" fxLayoutAlign="start center" *ngIf="!(waiting | async)">
        <span class="list-status" *ngIf="!(waiting | async) && (connectableState | async) === stateType.Starting">
        {{ (connectableStateScheduled | async) ? 'Stopping' : 'Initialization' }}
        </span>
        <span class="list-status" *ngIf="!(waiting | async) && (connectableState | async) === stateType.Stopping">
          {{ (connectableStateScheduled | async) ? 'Initialization' : 'Stopping' }}
        </span>
        <mat-spinner mode="indeterminate" diameter="13" color="accent"></mat-spinner>
      </span>
    </span>
    <span class="list-status" *ngIf="(connectableState | async) === stateType.Started && (globalConnectionState | async) !== connectionStateType.Connected">
      Awaiting connection
    </span> -->
  </div>
</div>
