<div fxLayout="column" fxLayoutAlign="start center" [class]="classVideoContainer">

  <div [class]="spinnerClass" fxLayout="column" fxLayoutAlign="center center" ><mat-spinner color="accent"></mat-spinner></div>
  <div style="position: relative;" >
    <ngx-zxing
      [start]="camStarted"
      [device]="selectedDevice"
      (onCamsFound)="displayCameras($event)"
      (onScan)="handleQrCodeResult($event)"
      [cssClass]="classVideo"
      class="small-video-container"
      #videoContainer
    ></ngx-zxing>
  </div>

  <span class="overlay-bottom-center">{{text}}</span>

</div>

<div fxLayout="column" fxLayoutAlign="center center" style="height:300px;" *ngIf="isRepeatable && canScanAgain">
  <button mat-button color="accent" (click)="scanAgain()">Scan again</button>
</div>

