.custom {
  padding:0 44px 0 11px!important;
}

:host {
  width: 278px;
  height: 100%;
  background-color: rgb(245, 245, 245);
}

.spatium-logo-text {
  height: 80px;
  padding: 0 44px 0 11px;
}

.main-nav-list-custom {
  height: 60px !important;
  display: block !important;
  border-bottom: 1px solid #f1f1f4;
}

.selected {
  background-color: rgba(29, 29, 38, 0.03) !important;
  font-weight: bold;
}

.disabled {
  pointer-events: none;
  color: #9ba0a0 !important;
  cursor: default;
}

:host ::ng-deep .sup {
  position: relative;
  bottom: 7px;
  font-size: 12px;
}
