<div fxLayout="column" fxLayoutAlign="start center" class="box">
  <div class="header text-center">
    <mat-toolbar color="primary" class="shadow">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <span>{{ title }}</span>
    </mat-toolbar>
  </div>

  <mat-sidenav-container class="content">
    <app-main-drawer #sidenav [navLinks]="navLinks" (closeClicked)="toggle()" (linkClicked)="onNav($event)"></app-main-drawer>

    <div class="verify-transaction-text" *ngIf="!showTransaction">
      <span>This device is linked. All transactions will be confirmed by you.</span>
    </div>

    <div class="transaction-container currency-component" *ngIf="showTransaction">
      <span class="full-width label full-width-label">Recipient address</span>
      <mat-form-field class="full-width field disable" color="accent" style="margin-bottom: 13px;">
        <input matInput [(ngModel)]="address" disabled>
      </mat-form-field>

      <table class="full-width text-center two-columns">
        <tr>
          <td>
              <span class="label" style="margin-left: 5px;">{{ currentInfo?.symbol }}</span>
              <div class="field disable">
                <span>
                  {{ btc }}
                </span>
              </div>
            </td>
            <td>
              <span class="label" style="margin-left: 19px;">USD</span>
              <div class="field right disable">
                <span>
                  {{ usd }}
                </span>
              </div>
            </td>
        </tr>
      </table>
      <table class="full-width text-center two-columns">
        <tr>
          <td>
            <span class="label" style="margin-left: 5px;">{{ currentInfo?.symbol }}</span>
            <div class="field disable">
                <span>
                  {{ fee }}
                </span>
            </div>
          </td>
          <td>
            <span class="label" style="margin-left: 19px;">USD</span>
            <div class="field right disable">
                <span>
                  {{ feeUsd }}
                </span>
            </div>
          </td>
        </tr>
      </table>

      <div class="width-button-container" fxLayout="column" fxLayoutAlign="start center" style="margin-top: 32px;">
        <button mat-raised-button color="accent" class="width-button color" (click)="confirm()">Confirm</button>
        <button mat-raised-button color="accent" class="width-button color" (click)="decline()">Decline</button>
      </div>
    </div>
  </mat-sidenav-container>
</div>
