

<div fxLayout="column" fxLayoutAlign="start center">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button routerLink="/{{back}}">
        <mat-icon class="color-custom-dark">arrow_back</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="entry-margin start-logo-text" >
  </div>
  <div class="start-tagline-padding">
    <span class="start-tagline">Secure your funds</span>
  </div>


  <div #patternContainer id='patternContainer'></div>



</div>

