<div (window:resize)="onResize()">
  <mat-toolbar color="primary" class="header-toolbar shadow" *ngIf="!isSearch">
    <button mat-icon-button (click)="onNavRequest()">
      <mat-icon>menu</mat-icon>
    </button>

    <span>{{ title }} </span>

    <span class="spacer"></span>

    <button mat-icon-button (click)="toggleSearch(true)">
      <mat-icon>search</mat-icon>
    </button>

    <button mat-icon-button (click)="goToSync()" *ngIf="!(synchronizing | async) && !(partiallySync | async)">
      <mat-icon>sync</mat-icon>
    </button>

    <button mat-icon-button (click)="goToSync()" *ngIf="!(synchronizing | async) && (partiallySync | async)">
      <mat-icon>sync_problem</mat-icon>
    </button>

    <button mat-icon-button (click)="cancelSync()" *ngIf="(synchronizing | async)">
      <mat-icon class="sync">sync</mat-icon>
    </button>

    <button mat-icon-button (click)="goToNewICO()" *ngIf="typeOfTiles === 'ico'">
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar>

  <mat-toolbar color="primary" class="header-toolbar shadow" *ngIf="isSearch">
    <button mat-icon-button (click)="toggleSearch(false)">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <div class="spatium-textfield search-wallet entry spacer" style="display: flex; position: relative;">
      <input type="text" placeholder="Search" name="UserName" [(ngModel)]="filterValue" [autofocus]>
    </div>

    <button mat-button mat-icon-button (click)="clearFilterValue()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  
    <app-wallet
      [filtredTitles]="filtredTitles"
      [cols]="cols"
      style="top: 0"
      *ngIf="typeOfTiles === 'wallet'">
    </app-wallet>

    <app-ico
      [filtredTitles]="filtredTitles"
      [cols]="cols"
      style="top: 0"
      *ngIf="typeOfTiles === 'ico'">
    </app-ico>
</div>