:host {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.progress.buttons-progress {
  position: initial;
}

.select-mode-button-container {
  height: 100%;
  width: 100%;
  margin-top: 12px;
}

.select-mode-button {
  width: calc(100% - 48px);
  height: 50%;
  background-color: #fff;
  white-space: normal;
  line-height: 24px;
  overflow: hidden;
  margin-bottom: 24px !important;
  color: rgb(155, 160, 160);
  text-align: left;
}

.select-mode-button-title {
  margin: 8px 0;
  display: block;
  font-size: 24px;
  font-weight: bold;
}

.select-mode-button p {
  font-size: 14px;
}
