<div fxLayout="column" fxLayoutAlign="start center">
  <div class="margin86 start-logo-text" >
  </div>
  <div class="start-tagline-padding">
    <span class="start-tagline">Secure your funds</span>
  </div>

  <div class="width-button-container margin93" fxLayout="column" fxLayoutAlign="start center">
    <button mat-raised-button color="accent" class="width-button color"
            (click)="onOpenClicked()">Open Wallet</button>
    <button mat-raised-button color="accent" class="width-button color"
            (click)="onConnectClicked()">Link Device</button>

    <div class="progress small buttons-progress"></div>
  </div>

</div>

