<div fxLayout="column" fxLayoutAlign="start center">
  <div class="margin30">
    <img src="./assets/images/drawable/logo.svg" class="start-logo-text">
  </div>
  <div class="start-tagline-padding">
    <span class="start-tagline">Secure your funds</span>
  </div>

  <div class="width-button-container margin30" fxLayout="column" fxLayoutAlign="start center">
    <button mat-raised-button color="accent" class="width-button" routerLink="/entry">{{entry}}</button>

    <button mat-raised-button color="accent" class="width-button" routerLink="/connect">{{connect}}</button>
  </div>

</div>

