<app-toolbar
  [label]="title"
  [isColored]="true"
  [isShadowed]="true"
  (backClicked)="onBack()"></app-toolbar>

<div class="currency-component box" fxLayout="column">
  <div class="inner" *ngIf="!next">
    <div class="info">Select the coins you wish to invest to the project</div>

    <mat-grid-list cols="{{cols}}" rowHeight="4:3">
      <mat-grid-tile
        *ngFor="let coin of coins"
        [colspan]="1"
        [rowspan]="1">
        <app-tile-coin
          [tile]="getTileModel(coin)"
          (onClicked)="click(coin)">
        </app-tile-coin>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="footer"  *ngIf="!next">
    <button type="button" mat-raised-button color="accent" class="width-button-full color" style="margin-bottom: 0" (click)="nextScreen($event)">Next</button>
  </div>
  <div class="inner" *ngIf="next">
    <div class="info">Enter amount of each coin you wish to invest</div>
    <div *ngFor="let chosencoin of chosencoins" class="coin-field full-width">
      <div class="left-field">
        <span class="label">{{chosencoin.title}}</span>
        <div class="field" style="margin-bottom: 13px;">
          <span>
            <input (focusout)="verifyAmount($event, chosencoin)" matInput [formControl]="chosencoin.amount" type="number"/>
          </span>
        </div>
      </div>
      <div class="right-field">
        <span class="label">{{chosencoin.title}} balance</span>
        <div class="field disable" style="margin-bottom: 13px;">
          <span>
            {{getBalance(chosencoin.coin) + ' ' + chosencoin.symbols}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="footer"  *ngIf="next">
    <button type="button" mat-raised-button color="accent" class="width-button-full color" style="margin-bottom: 0" (click)="participateProject($event)">Participate</button>
  </div>
</div>
