<div fxLayout="column" fxLayoutAlign="center center" class="content">
  <div fxLayout="column" fxLayoutAlign="center center" [class]="classVideoContainer">
    <!-- <div [class]="spinnerClass" fxLayout="column" fxLayoutAlign="center center" style="position: fixed; z-index: 3;">
      <mat-spinner color="accent"></mat-spinner>
    </div> -->

    <!-- <div style="position: relative;" *ngIf="permissionCam" [ngInit]="addVideoContainer">
      <zxing-scanner
        [scannerEnabled]="camStarted"
        [device]="selectedDevice"
        (camerasFound)="displayCameras($event)"
        (scanSuccess)="handleQrCodeResult($event)"
        [cssClass]="classVideo"
        class="small-video-container"
        #videoContainer
      ></zxing-scanner>
    </div> -->
  </div>

  <!-- <div style="width: 100%; text-align: center; bottom: 0px;" *ngIf="camStarted && isRepeatable">
    <span >{{ text }}</span>
  </div> -->

  <!-- <div style="width: 100%; text-align: center; bottom: 30px;" *ngIf="camStarted && !isRepeatable">
    <span >{{ text }}</span>
  </div> -->

  <div fxLayout="column" fxLayoutAlign="center center" class="content" style="height:250px;">
    <div class="small-video-container" fxLayout="column" fxLayoutAlign="center center">
      <div class="glass">
        <div class="icon-custom-qr_code_large"></div>
      </div>

      <button mat-icon-button class="gigantic-button" (click)="scanAgain()">
        <mat-icon class="size-130">camera_alt</mat-icon>
      </button>
    </div>

    <div style="width: 100%; text-align: center; bottom: 30px;">
      <span >{{ text }}</span>
    </div>

  </div>
</div>

