<div fxLayout="column" fxLayoutAlign="start center">
  <mat-list role="list">
    <mat-list-item>
      <p class="list-info" mat-line>BitCoin адрес</p>
      <p class="list-name" mat-line> {{bitcoinAddress}} </p>
      <button mat-icon-button matSuffix ngxClipboard [cbContent]="addressLoc">
        <mat-icon matSuffix>content_copy</mat-icon>
      </button>
    </mat-list-item>

    <mat-list-item>
      <p class="list-info" mat-line>BitCoin баланс</p>
      <p class="list-name" mat-line> {{bitcoinBalance}} </p>
      <div matSuffix class="button-imitator" fxLayout="row" fxLayoutAlign="center center" (click)="changeSyncState()">
        <mat-icon *ngIf="syncState==0">sync</mat-icon>
        <mat-icon class="sync" *ngIf="syncState==1">sync</mat-icon>
        <mat-icon *ngIf="syncState==2">sync_problem</mat-icon>
      </div>

    </mat-list-item>
  </mat-list>

  <div class="width-button-container margin93" fxLayout="column" fxLayoutAlign="start center">
    <button mat-raised-button color="accent" class="width-button" routerLink="/waiting">Перевод</button>
  </div>


</div>
