<div xLayout="column" fxLayoutAlign="center center">
  <div fxLayoutAlign="center center">
    <div>
      <table class="example-form">
        <mat-form-field class="example-full-width">
          <input disabled matInput placeholder="BitCoin address" [value]="bcAddress">
          <button mat-icon-button matSuffix
                  ngxClipboard [cbContent]="bcAddress">
            <mat-icon>insert_link</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input disabled matInput placeholder="BitCoin balance" [value]="bcBalance">
          <div matSuffix>
            <button mat-icon-button class="backup-button" (click)="syncBalance($event)">
              <mat-icon>{{balanceBackupStatus}}</mat-icon>
            </button>
            <div class={{spinnerClass}}>
              <mat-spinner diameter="30" strokeWidth="2"></mat-spinner>
            </div>
          </div>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input disabled matInput placeholder="Ethereum address" [value]="ethereumAddress">
          <button mat-icon-button matSuffix
                  ngxClipboard [cbContent]="ethereumAddress">
            <mat-icon>insert_link</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input disabled matInput placeholder="Ethereum balance" [value]="ethereumBalance">
        </mat-form-field>

        <div fxLayoutAlign="center center">
          <button mat-raised-button color="primary" (click)="openSendTransactionDialog()">Send transaction</button>
        </div>
      </table>
    </div>
  </div>
</div>
