.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    padding: 0px 20px;
}

.example-full-width {
    width: 100%;
}

.backup-button {
  float: left;
  z-index: 1;
}

.backup-spinner {
  float:left;
  z-index:0;
  position: absolute;
}

.invisible {
  display: none;
}
