<app-connect *ngIf="synchronizing | async" (cancel)="cancelConnect()"></app-connect>

<div *ngIf="!(synchronizing | async)" [class]="overlayClass"></div>

<app-toolbar *ngIf="!(synchronizing | async)"
  [label] = "Label"
  (backClicked)="onBackClicked()"></app-toolbar>

<div *ngIf="!(synchronizing | async)" fxLayout="column" fxLayoutAlign="start center" style="z-index: 1;" class="box">
  <div class="width-button-container content" fxLayout="column" fxLayoutAlign="center center" *ngIf="!(enabled | async)">
    <div class="connect-text">
      <span>{{enableBTmessage}}</span>
    </div>

    <button mat-fab  class="width-button">
      <mat-icon (click)="enableBluetooth()">bluetooth_disabled
      </mat-icon>
    </button>
  </div>

  <div class="width-button-container" fxLayout="column" fxLayoutAlign="start center" *ngIf="enabled | async">
    <mat-nav-list style="width: 100%;">
      <mat-list-item *ngFor="let device of devices" (click)="connectTo(device.name, device.address)">
        <p class="list-name" mat-line>{{device.name}}</p>
        <p class="list-info" mat-line>{{device.address}}</p>
        <mat-icon class="list-icon" *ngIf="device.paired" matSuffix>link</mat-icon>
      </mat-list-item>
    </mat-nav-list>
    <div style="width: 100%; text-align: center">
      <button mat-icon-button (click)="startDiscovery()">
        <mat-icon class="button-imitator-large" *ngIf="!(discovering | async)">sync</mat-icon>
        <mat-icon class="button-imitator-large sync" *ngIf="discovering | async">sync</mat-icon>
      </button>
    </div>
  </div>
</div>


