<mat-toolbar color="primary" class="header-toolbar shadow">
  <mat-toolbar-row>
    <button mat-icon-button (click)="onBackClicked()" *ngIf="!isWindows()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Export secret</span>
  </mat-toolbar-row>
</mat-toolbar>

<div fxLayout="column" fxLayoutAlign="start center" class="box">
  <div class="box content-flex text-center">
    <div class="header text-center">
      <div fxLayout="row" fxLayoutAlign="center center" style="width: 100%;" class="start-tagline-padding">
        <div fxLayout="row" fxLayoutAlign="space-around center" style="width: 33.3%;">
          <button mat-icon-button class="fab" fxLayout="row" fxLayoutAlign="center center" (click)="toggleContent(contentType.QR)">
            <div fxLayoutAlign="center center" *ngIf="content === contentType.QR">
              <span class="icon-qr_code_blue" ></span>
            </div>
            <div fxLayoutAlign="center center" *ngIf="content !== contentType.QR">
              <span class="icon-qr_code_black optical-4"></span>
            </div>
          </button>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center" style="width: 33.3%;" *ngIf="isNfcAvailable">
          <button mat-icon-button class="fab" (click)="toggleContent(contentType.NFC)" >
            <mat-icon class="size-40" color="accent" *ngIf="content === contentType.NFC">nfc</mat-icon>
            <mat-icon class="size-40 optical-4" *ngIf="content !== contentType.NFC">nfc</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <app-qr-code class="content-flex text-center" style="position: relative;" *ngIf="content === contentType.QR"
                 (clearEvent)="setEmpty()"
                 (inputEvent)="setInput($event)"
                 [isExport]="true"></app-qr-code>
    <app-nfc class="content-flex text-center" style="position: relative;" *ngIf="content === contentType.NFC"
             (clearEvent)="setEmpty()"
             (inputEvent)="setInput($event)"
             [isExport]="true"></app-nfc>
  </div>


</div>
