<div fxLayout="column" fxLayoutAlign="start center" class="box">
  <div class="header text-center">
    <mat-toolbar color="primary" class="shadow">
      <mat-toolbar-row>
        <button mat-icon-button (click)="onBack()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <span>Export secret</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="box content-flex text-center">
    <div class="header text-center">
      <div fxLayout="row" fxLayoutAlign="center center" style="width: 100%;" class="start-tagline-padding">
        <div fxLayout="row" fxLayoutAlign="space-around center" style="width: 33.3%;">
          <button mat-icon-button class="fab" fxLayout="row" fxLayoutAlign="center center" (click)="toggleContent(contentType.QR)">
            <div class="qr-code-blue" *ngIf="content === contentType.QR"></div>
            <div class="qr-code-black optical-4" *ngIf="content !== contentType.QR"></div>
          </button>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center" style="width: 33.3%;">
          <button mat-icon-button class="fab" (click)="toggleContent(contentType.NFC)" *ngIf="isNfcAvailable">
            <mat-icon class="size-40" color="accent" *ngIf="content === contentType.NFC">nfc</mat-icon>
            <mat-icon class="size-40 optical-4" *ngIf="content !== contentType.NFC">nfc</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <app-qr-code class="content-flex text-center" style="position: relative;" *ngIf="content === contentType.QR"
                 (clearEvent)="setEmpty()"
                 (inputEvent)="setInput($event)"
                 [isExport]="true"></app-qr-code>
    <app-nfc class="content-flex text-center" style="position: relative;" *ngIf="content === contentType.NFC"
             (clearEvent)="setEmpty()"
             (inputEvent)="setInput($event)"
             [isExport]="true"></app-nfc>
  </div>


</div>
