<mat-toolbar color="primary" class="header-toolbar shadow">
    <button mat-icon-button (click)="toggleNavigation()">
      <mat-icon>menu</mat-icon>
    </button>

    <span>Confirmation mode</span>

    <span class="spacer"></span>

    <mat-icon *ngIf="(fullySync | async)">sync</mat-icon>
    <mat-icon *ngIf="(partiallySync | async)">sync_problem</mat-icon>
  </mat-toolbar>
<div fxLayout="column" fxLayoutAlign="start center" class="box wallet">
  <mat-sidenav-container class="content">
    <app-main-drawer
      #sidenav
      [navLinks]="navLinks">
    </app-main-drawer>

    <div fxLayout="column" fxLayoutAlign="start center" style="z-index: 1;" class="box">
      <div
        fxLayout="column"
        fxLayoutAlign="start center"
        class="box">

        <mat-nav-list class="width-button-width" fxLayout="column" fxLayoutAlign=" stretch">
          <div *ngFor="let provider of (providersArray | async)">
            <app-connectivity-manage [type]="provider.provider"></app-connectivity-manage>
          </div>
        </mat-nav-list>

        <div
          class="width-button-container content"
          fxLayout="column"
          fxLayoutAlign="center center"
          *ngIf="(ready | async)">
          <div class="verify-transaction-text">
            <span>Awaiting connection from the main device.</span>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-container>
</div>
