<mat-toolbar color="primary" class="header-toolbar shadow">
    <button mat-icon-button (click)="toggleNavigation()">
      <mat-icon>menu</mat-icon>
    </button>

    <span>Confirmation mode</span>

    <span class="spacer"></span>
  </mat-toolbar>
<div fxLayout="column" fxLayoutAlign="start center" class="box wallet">
  <div style="margin: 10px;" *ngFor="let session of (sessions | async)">
    {{ session.deviceInfo.displayName }}: {{ session.syncPercent.toString().padStart(3) }}% synchronization {{ session.active ? '...' : '' }}
  </div>
  <div style="margin: 10px;" *ngIf="(sessions | async).length === 0">
    Ready to sync
  </div>
  <button mat-icon-button (click)="enableDiscovery()">
    <mat-icon>menu</mat-icon>
  </button>
</div>
