<div fxLayout="column" fxLayoutAlign="start center" class="box wallet">
  <mat-sidenav-container class="content">
    <app-main-drawer
      #sidenav
      [navLinks]="navLinks"
      [current]="current">
    </app-main-drawer>

    <mat-toolbar color="primary" class="header-toolbar shadow">
      <button mat-icon-button (click)="toggleNavigation()">
        <mat-icon>menu</mat-icon>
      </button>

      <span>Confirmation mode</span>

      <span class="spacer"></span>

      <mat-icon *ngIf="!(synchronizing | async) && (fullySync | async)">sync</mat-icon>
      <mat-icon *ngIf="!(synchronizing | async) && (partiallySync | async)">sync_problem</mat-icon>
    </mat-toolbar>

    <div fxLayout="column" fxLayoutAlign="start center" style="z-index: 1;" class="box">
      <mat-progress-bar
        mode="determinate"
        color="accent"
        [value]="(progress | async)"
        *ngIf="(synchronizing | async)"
        style="width: 100%; position: fixed; z-index: 2;">
      </mat-progress-bar>

      <div
        fxLayout="column"
        fxLayoutAlign="start center"
        class="box"
        *ngIf="!(synchronizing | async)">
        <div
          class="width-button-container content"
          fxLayout="column"
          fxLayoutAlign="center center"
          *ngIf="!(enabled | async)">
          <div class="connect-text">
            <span>Enable Bluetooth to proceed</span>
          </div>

          <button mat-fab class="width-button">
            <mat-icon (click)="enableBluetooth()">
              bluetooth_disabled
            </mat-icon>
          </button>
        </div>

        <div
          class="width-button-container content"
          fxLayout="column"
          fxLayoutAlign="center center"
          *ngIf="(enabled | async)">
          <div class="verify-transaction-text">
            <span>Awaiting connection from the main device.</span>
          </div>

          <button
            *ngIf="!(discoverable | async)"
            mat-button
            color="accent"
            (click)="enableDiscoverable()">
            Enable device discovery
          </button>
        </div>
      </div>

      <div fxLayout="column" fxLayoutAlign="start center" class="box" *ngIf="(synchronizing | async)">
        <mat-list class="list">
          <mat-list-item *ngFor="let coin of synchedCoins">
            <span *ngIf="coin.status === coinStatusType.Synchronizing || coinStatusType.Ready">
              Syncing {{ coin.name }}...&nbsp;
            </span>

            <span *ngIf="coin.status === coinStatusType.Ready">
              done
            </span>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </mat-sidenav-container>
</div>
