<div class="grid-item">
  <button mat-button class="block" style="padding: 0px;" [class.colored]="tileModel.chosen" [disabled]="!tileModel.implemented" (click)='onClick()'>
    <div class="erc20" *ngIf="tileModel.erc20">
      <img class="ethereum" src="{{ethereum}}">
    </div>
    <div class="div-height" fxLayout="row" fxLayoutAlign="center center" >
      <img class="logo" src="{{logo}}">
      <div class="wallet-description">
        <span class="sym">{{ tileModel.symbols }}</span>
        <span class="title">{{ tileModel.title }}</span>
      </div>
    </div>
    <div
      *ngIf="(tileModel.status | async) === stateType.Ready"
      class="half-height"
      fxLayout="column"
      fxLayoutAlign="center center">
      <div
        fxLayout="column"
        fxLayoutAlign="center center"
        style="position: relative; height: 100%;">

        <span class="balance" *ngIf="(tileModel.balance | async) !== null">
          {{ (tileModel.balance | async)?.toFixed(6) * 1 }} {{ tileModel.symbols }}
        </span>

        <span class="balanceUSD" *ngIf="(tileModel.balanceUSD | async) !== null">
          {{ (tileModel.balanceUSD | async)?.toFixed(6) * 1 }} USD
        </span>

        <span class="sync-in-progress" *ngIf="(tileModel.balance | async) === null">
          Loading
        </span>

        <div *ngIf="(tileModel.balanceStatus | async) === balanceStateType.Error" class="warning-box">
          <mat-icon class="warning">warning</mat-icon>
        </div>
      </div>
    </div>
    <div
      *ngIf="(tileModel.status | async) !== stateType.Ready"
      class="half-height"
      fxLayout="column"
      fxLayoutAlign="center center">

      <span class="sync-in-progress">
        {{ (tileModel.status | async) === stateType.Synchronizing ? 'Syncing' : 'Not synced' }}
      </span>
    </div>
  </button>
</div>
