<div class="grid-item">
  <button mat-button class="block" style="padding: 0px;" [class.colored]="_toggled" (click)='onClick()'>
    <div class="erc20" *ngIf="model.type == modelType.Token">
      <img class="ethereum" src="{{ model.currencyLogo }}">
    </div>
    <div class="div-height" fxLayout="row" fxLayoutAlign="center center" >
      <img class="logo" src="{{ model.logo }}">
      <div class="wallet-description">
        <span class="sym">{{ model.ticker }}</span>
        <span class="title">{{ model.name }}</span>
      </div>
    </div>
    <div
      *ngIf="(wallet.state | async) === stateType.Finalized"
      class="half-height"
      fxLayout="column"
      fxLayoutAlign="center center">
      <div
        fxLayout="column"
        fxLayoutAlign="center center"
        style="position: relative;">

        <span class="balance" *ngIf="(balance | async) !== null">
          {{ (balance | async)?.toFixed(6) * 1 }} {{ model.ticker }}
        </span>

        <span class="balanceUSD" *ngIf="(balanceUSD | async) !== null">
          {{ (balanceUSD | async)?.toFixed(6) * 1 }} USD
        </span>

        <span class="sync-in-progress" *ngIf="(balance | async) === null">
          Loading
        </span>

        <mat-icon *ngIf="(wallet.balanceStatus | async) === balanceStatusType.Error" class="warning">warning</mat-icon>
      </div>
    </div>
    <div
      *ngIf="(wallet.state | async) !== stateType.Finalized"
      class="half-height"
      fxLayout="column"
      fxLayoutAlign="center center">

      <span class="sync-in-progress">
        {{ (wallet.state | async) === stateType.None ? 'Not synced' : 'Syncing' }}
      </span>
    </div>
  </button>
</div>
