<div class="grid-item">
  <button mat-button class="block" style="padding: 0px;" [class.colored]="coin.chosen" [disabled]="coin.coin == undefined" (click)='onClick(coin)'>
    <div class="erc20" *ngIf="coin.erc20">
      <div class="ethereum">
      </div>
    </div>
    <div class="div-height" fxLayout="row" fxLayoutAlign="center center" >
      <div class="logo {{coin.logo}}"></div>
      <div class="wallet-description">
        <span class="sym">{{ coin.symbols }}</span>
        <span class="title">{{ coin.title }}</span>
      </div>
    </div>
    <div class="half-height" fxLayout="column" fxLayoutAlign="center center">
            <span class="balance" *ngIf="balanceInfo === undefined || (balanceInfo.balance | async) !== null">
              {{ balanceInfo !== undefined ? (balanceInfo.balance | async)?.toFixed(6) * 1 : 0 }} {{ coin.symbols }}
            </span>

      <span class="balanceUSD" *ngIf="balanceInfo === undefined || (balanceInfo.balance | async) !== null">
              {{ balanceInfo !== undefined ? (balanceInfo.balanceUSD | async)?.toFixed(6) * 1 : 0 }} USD
            </span>

      <span class="sync-in-progress"
            *ngIf="balanceInfo !== undefined &&
                  (balanceInfo.balance | async) === null">
              {{(synchronizing | async) ? "Loading..." : "Not synced"}}
            </span>
    </div>
  </button>
</div>
