<div fxLayout="column" fxLayoutAlign="start center" class="content">
  <app-toolbar
    label="Verify transaction"
    [isColored]="true"
    [isShadowed]="true"
    (backClicked)="onBack()">
  </app-toolbar>

  <div class="width-button-container" style="margin-top:25px;"
       fxLayout="column" fxLayoutAlign="start center" *ngIf="state === stateType.Preparing">
    <mat-spinner mode="indeterminate" [strokeWidth] = "5" color="accent"></mat-spinner>
  </div>

  <div class="transaction-container currency-component" *ngIf="state === stateType.Verifying">
    <table class="full-width two-columns" style="text-align: left; table-layout: fixed;">
      <tr>
        <td colspan="2">
          <span class="label" style="margin-left: 5px;">Recipient address</span>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <mat-form-field class="field by-content disable" color="accent" style="margin-bottom: 13px;"
                          fxLayout="column" fxLayoutAlign="center center">
            <textarea matInput mat-autosize="true" [(ngModel)]="address" disabled></textarea>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td class="right">
          <span class="label" style="margin-left: 5px;">Transaction amount</span>
        </td>
      </tr>
      <tr>
        <td class="right">
          <span class="label" style="margin-left: 5px;">{{ model.ticker }}</span>
        </td>
        <td class="left">
          <span class="label" style="margin-left: 5px;">USD</span>
        </td>
      </tr>
      <tr>
        <td class="right">
          <div class="field disable">
            <span>
              <input
                matInput
                readonly
                value="{{ value.toFixed() }}">
            </span>
          </div>
        </td>
        <td class="left">
          <div class="field right disable">
            <span>
              <input
                matInput
                readonly
                value="{{ valueUsd.toFixed() }}">
            </span>
          </div>
        </td>
      </tr>
      <tr>
        <td class="right">
          <span class="label" style="margin-left: 5px;">Transaction fee</span>
        </td>
      </tr>
      <tr>
        <td class="right">
          <span class="label" style="margin-left: 5px;">{{ parentModel.ticker }}</span>
        </td>
        <td class="left">
          <span class="label" style="margin-left: 5px;">USD</span>
        </td>
      </tr>
      <tr>
        <td class="right">
          <div class="field disable">
            <span>
              <input
                matInput
                readonly
                value="{{ fee.toFixed() }}">
            </span>
          </div>
        </td>
        <td class="left">
          <div class="field right disable">
            <span>
              <input
                matInput
                readonly
                value="{{ feeUsd.toFixed() }}">
            </span>
          </div>
        </td>
      </tr>
    </table>

    <div class="width-button-container" fxLayout="column" fxLayoutAlign="start center" style="margin-top: 32px;">
      <button mat-raised-button color="accent" class="width-button color" (click)="onConfirm()">Confirm</button>
      <button mat-raised-button color="accent" class="width-button color" (click)="onDecline()">Decline</button>
    </div>
  </div>
</div>
