<app-toolbar
  *ngIf="!selector"
  [label]="title"
  [isColored]="true"
  [isShadowed]="true"
  (backClicked)="onBack()"></app-toolbar>

<mat-toolbar color="primary" class="header-toolbar shadow" *ngIf="selector">
  <button mat-icon-button (click)="selectTransaction($event)">
    <mat-icon>close</mat-icon>
  </button>

  <span>{{'Selected(' + counter + ')'}}</span>

  <span class="spacer"></span>

  <button mat-button mat-icon-button>
    <mat-icon>done_all</mat-icon>
  </button>
  <button mat-button mat-icon-button (click)="eachTransaction(true, 'chosen', true)">
    <mat-icon>select_all</mat-icon>
  </button>
</mat-toolbar>

<div class="currency-component box" fxLayout="column" *ngIf="!transaction" style="place-content: normal !important">
  <mat-list class="text-center">
    <mat-list-item 
      class="list-item" 
      *ngFor="let transaction of transactions"
      (click)="selector?check($event, transaction):popUpDetails(transaction)"
      (longpress)="selector?check($event,transaction):selectTransaction($event)">
      <div style="width: 20%">
        <div class="logo {{transaction.coin}} big-logo"></div>
      </div>
      <div class="center-row list-label">
        <div matLine class="data-row">
          <span class="label">received with</span>
          <span class="label"> {{ transaction.date }}</span>
        </div>
        <span matLine class="transaction-address"> {{ structured(transaction.address) }} </span>
        <div matLine class="price-label">
          <span 
            class="transaction-amount"
            [class.red]="transaction.address !== transaction.valid_address" 
            [class.green]="transaction.address === transaction.valid_address">
            {{transaction.amount}}
          </span>
          <span style="font-size: 12px !important; color: gray;">{{ transaction.symbol }}</span>
        </div>
      </div>
      <mat-checkbox *ngIf="selector" [(ngModel)]="transaction.chosen"></mat-checkbox>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
  <!-- <div *ngFor="let transaction of transactions" class="transactions-list" style="padding: 5px 0;" (click)="popUpDetails(transaction)">
    <div class="data-row">
      <div style="width: 20%" class="row-elem">
        <span class="label">Amount</span>
        <div style="display: inline-flex">
          <div class="logo {{transaction.coin}}"></div>
          <div class="center">{{transaction.amount}} {{transaction.symbol}}</div>
        </div>
      </div>
      <div style="width: 70%" class="row-elem">
        <span class="label">From</span>
        <mat-form-field class="field disable" color="accent">
          <textarea matInput [value]="transaction.address" disabled>
          </textarea>
          <button mat-button matSuffix mat-icon-button (click)="copy(transaction.address)">
            <mat-icon>content_paste</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div style="width: 20%" class="row-elem">
        <div class="center">{{transaction.receiving_date}}</div>
      </div>
    </div>
  </div> -->
</div>

<div class="currency-component box" fxLayout="column" *ngIf="transaction">
  <div class="transactions-list">
    <div class="data-row details" style="flex-direction: column">
      <div class="row-elem">
        <span class="label medium">Date received</span><br/>
        <span class="transaction-time"> {{ transaction.raw_date*1000 | date: 'medium' }}</span>
      </div>
      <div class="row-elem">
        <span class="label medium">Status</span><br/>
        <span class="transaction-time"> {{ transaction.confirmations + " confirmations"}}</span>
      </div>
      <div class="row-elem">
        <span class="label medium">Received</span><br/>
        <div style="display: inline-flex; align-items: center">
          <div class="logo {{transaction.coin}}" style="height: 30px"></div>
          <div class="price-label">
            <span class="transaction-amount" style="font-size: 20px !important">
              {{transaction.amount}}
            </span>
            <span style="font-size: 14px; color: gray;"> {{ transaction.symbol }}</span>
          </div>
        </div>
      </div>
      <div class="row-elem" (click)="copy(transaction.address)">
        <span class="label medium">From</span><br/>
        <span class="transaction-address">{{ structured(transaction.address) }}</span><br/>
        <span *ngIf="transaction.address !== transaction.valid_address" class="label red">Sender address is not in whitelist</span>
      </div>
      <div class="row-elem" (click)="copy(transaction.to_address)">
        <span class="label medium">To</span><br/>
        <span class="transaction-address">{{ structured(transaction.to_address) }}</span><br/>
        <span *ngIf="transaction.to_address !== transaction.valid_to_address" class="label red">Recipient address does not match the one allotted to the sender address</span>
      </div>
      <div class="row-elem">
        <span class="label medium">Transaction ID</span><br/>
        <span class="transaction-address"> {{ transaction.id }}</span>
      </div>
      <div style="align-self: center;">
        <a href="https://chain.so/tx/BTC/{{transaction.id}}">VIEW ON BLOCKCHAIN EXPLORER</a>
      </div>
    </div>
  </div>
  <div class="footer">
    <button type="button" mat-raised-button color="accent" class="width-button-full color right" (click)="acceptTransaction()">Accept</button>
    <button type="button" mat-raised-button color="accent" class="width-button-full color left" (click)="rejectTransaction()">Reject</button>
  </div>
</div>
