<div class="connection-div" fxLayout="row" fxLayoutAlign=" center">
  <mat-icon class="list-icon">bluetooth</mat-icon>
  <span>Bluetooth synchronization</span>

  <span class="spacer"></span>

  <mat-slide-toggle
    mat-list-item
    class="custom-slide-toggle"
    [checked]="(toggled | async)"
    (change)="toggle($event)">
  </mat-slide-toggle>
</div>

<div fxLayout="column" fxLayoutAlign="start stretch" *ngIf="(toggled | async)">
  <div fxLayout="row" fxLayoutAlign="start center" class="status">
    <span class="list-status" *ngIf="(connectedDevice | async) !== null && (connectionState | async) === connectionStateType.Connected">
      Connected to {{ (connectedDevice | async).name }}
    </span>
    <span fxLayout="row" fxLayoutAlign="start center" style="width: 100%" *ngIf="(connectableState | async) !== stateType.Started && (globalConnectionState | async) !== connectionStateType.Connected">
      <span fxLayout="row" fxLayoutAlign="start center" style="width: 100%" *ngIf="(waiting | async)">
        <span class="list-status">
          Bluetooth disabled
        </span>
        <span class="spacer"></span>
        <button mat-button color="accent" class="button-style" *ngIf="(deviceState | async) !== stateType.Started" (click)="enableBluetooth()">Enable Bluetooth</button>
      </span>
      <span fxLayout="row" fxLayoutAlign="start center" *ngIf="!(waiting | async)">
        <span class="list-status" *ngIf="!(waiting | async) && (connectableState | async) === stateType.Starting">
          Initialization
        </span>
        <span class="list-status" *ngIf="!(waiting | async) && (connectableState | async) === stateType.Stopping">
          Stopping
        </span>
        <mat-spinner mode="indeterminate" diameter="13" color="accent"></mat-spinner>
      </span>
    </span>
    <span fxLayout="row" fxLayoutAlign="start center" style="width: 100%" *ngIf="(connectableState | async) === stateType.Started && (globalConnectionState | async) !== connectionStateType.Connected">
      <span class="list-status">
        Awaiting connection
      </span>
      <span class="spacer"></span>
      <button mat-button color="accent" class="button-style" *ngIf="(discoveryState | async) === stateType.Stopped" (click)="enableDiscovery()">Enable device discovery</button>
      <span class="list-status" style="padding-left: 16px;" *ngIf="(discoveryState | async) === stateType.Started">Discoverable</span>
      <mat-spinner mode="indeterminate" diameter="13" color="accent" *ngIf="(discoveryState | async) !== stateType.Started && (discoveryState | async) !== stateType.Stopped"></mat-spinner>
    </span>
  </div>
</div>
