<div class="connection-container">
  <div class="connection-div" fxLayout="row" fxLayoutAlign=" center">
    <mat-icon class="list-icon">bluetooth</mat-icon>
    <span>Bluetooth</span>

    <span class="spacer"></span>

    <button mat-button color="accent" class="button-style" *ngIf="(deviceState | async) !== stateType.Started"
            (click)="enableBluetooth()">Enable Bluetooth
    </button>
    <button mat-button color="accent" class="button-style"
            *ngIf="((deviceState | async) == stateType.Started) && !isVerifyMode && !(hasPermission | async)"
            (click)="grantPermission()">Grant permission
    </button>
    <button mat-button color="accent" class="button-style"
            *ngIf="((deviceState | async) == stateType.Started) && isVerifyMode && ((discoverable | async) !== stateType.Started)"
            (click)="enableDiscovery()">Enable device discovery
    </button>
    <span class="list-status" *ngIf="((deviceState | async) == stateType.Started) && ((discovering | async) == stateType.Started)">
      Discovering
    </span>
    <span class="list-status" *ngIf="((deviceState | async) == stateType.Started) && ((discoverable | async) == stateType.Started)">
      Discoverable
    </span>
  </div>
</div>
