<div class="dialog-label" fxLayout="row" fxLayoutAlign="start center" >
  <span class="spacer"></span>
</div>

<div mat-dialog-content>
  <mat-nav-list>
    <mat-list-item
      style="border-top: 1px solid #eeeeee;"
      *ngFor="let factor of factors"
      (click)="onSelected(factor)">

      <h4 mat-line class="factor-text">
        <div class="factor-icon" *ngIf="factor.icon">
          <mat-icon matPrefix class="factor-icon-padding" >{{ factor.icon }}</mat-icon>
        </div>
        <div class="factor-icon" fxLayoutAlign="space-around center" *ngIf="factor.icon_asset">
          <div fxLayoutAlign="center center">
            <span class="{{ factor.icon_asset }}"></span>
          </div>
        </div>
        {{ factor.name }}
      </h4>
    </mat-list-item>
  </mat-nav-list>
</div>

