<form class="width-button-container margin32" fxLayout="column" fxLayoutAlign="start center">

  <div class="spatium-textfield entry bottom32" style="display: flex; position: relative;">
    <input type="text" placeholder="{{stLogin}}" [(ngModel)]="userName" name="UserName" [autofocus] (focus)="onFocus()" (focusout)="onFocusOut()" >

    <button matSuffix mat-icon-button (click)="generateNewLogin()" style="position: absolute; right: 0px;">
      <mat-icon style="opacity: 0.5;" *ngIf="usernameState === stateType.Ready">sync</mat-icon>
      <mat-icon class="sync" *ngIf="usernameState === stateType.Updating">sync</mat-icon>
      <mat-icon *ngIf="usernameState === stateType.Error">sync_problem</mat-icon>
    </button>
  </div>

  <div class="footer text-center" style="bottom: 0px;">
    <button type="button" mat-raised-button color="accent" class="width-button color" (click)="onNext()">Next</button>
  </div>
</form>
