<mat-toolbar color="primary" [class.dark-theme]="isDarkTheme">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ title }}</span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav class="width-sidenav" mode="over" [fixedInViewport]="true">
    <mat-list-item>
      <div fxLayout="row" fxLayoutAlign="space-between center" class="spatium-logo-text">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon class="size-30 color-custom" aria-hidden="true">clear</mat-icon>
        </button>
        <div class="nav-logo-text"></div>
      </div>
    </mat-list-item>
    <mat-nav-list *ngFor="let navLink of navLinks">
      <a mat-list-item [routerLink]="navLink.link" class="main-nav-list-custom" [ngClass]="{'selected' : navLink.isSelected} "
         (click)="sidenav.toggle()">{{navLink.name}}</a>
    </mat-nav-list>

  </mat-sidenav>

    <router-outlet name="navigator"></router-outlet>



</mat-sidenav-container>
