
.width-sidenav {
  width: 278px;
}

.spatium-logo-text {
  height: 80px;
  padding: 0 44px 0 11px;
}

.bottom-absolute {
  position: absolute;
  bottom: 0;
  display: block;
  height: 60px;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 0 16px;
  position: relative;
  height: inherit;
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.main-nav-list-custom {
  height: 60px !important;
  display: block !important;
  border-bottom: 1px solid #f1f1f4;
}

.selected {
  background-color: rgba(29, 29, 38, 0.03) !important;
  font-weight: bold;
}

.disabled {
  pointer-events: none;
  color: #9ba0a0 !important;
  cursor: default;
}