<app-toolbar
  [label]="campaign.title"
  [isColored]="true"
  [isShadowed]="true"
  (backClicked)="onBack()"></app-toolbar>

<div class="currency-component box" fxLayout="column" fxLayoutAlign="start center">
  <div class="full-width">
    <div class="info f-left input-2">
      <span class="label full-width-label">{{ coinSym }}</span>
      <div class="field disable">
        <span>{{ balanceCurrency}}</span>
      </div>
    </div>
    <div class="info f-right input-2">
      <span class="label full-width-label">{{ feeTitle }}</span>
      <div class="field disable">
        <span>{{ feePrice }}</span>
      </div>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="start left" class="full-width">
    <h4>Company info</h4>
    <div class="name-input">
      <span class="label full-width-label">Name</span>
      <div class="field" [ngClass]="{'error': comp_name.invalid}">
        <span>
          <input matInput placeholder="Name of company" [formControl]="comp_name">
        </span>
      </div>
    </div>
    <div class="ticker-input">
      <span class="label full-width-label">Ticker</span>
      <div class="field" [ngClass]="{'error': ticker.invalid}">
        <span>
          <input matInput placeholder="Ticker of token" [formControl]="ticker">
        </span>
      </div>
    </div>
    <div class="tokens-amount-input">
      <div class="info f-left input-2">
        <span class="label full-width-label">Amount emitted</span>
        <div class="field" [ngClass]="{'error': amount_emitted.invalid}">
          <span>
            <input type="number" matInput placeholder="Tokens emitted" [formControl]="amount_emitted">
          </span>
        </div>
      </div>
      <div class="info f-right input-2">
        <span class="label full-width-label">Amount offered</span>
        <div class="field" [ngClass]="{'error': amount_offered.invalid}">
          <span>
            <input type="number" matInput placeholder="Tokens offered" [formControl]="amount_offered">
          </span>
        </div>
      </div>
    </div>
    <div class="address-input">
      <span class="label full-width-label">Address</span>
      <div class="field" [ngClass]="{'error': address.invalid}">
        <span>  <!--Need to add verification of contract, if contract not exist => offer to create a contract-->
          <input matInput placeholder="Address of contract" [formControl]="address">
        </span>
      </div>
    </div>
    <h4>Detailed info</h4>
    <div class="deployment-date-input">
      <div class="info">
        <span class="label full-width-label">Start</span>
        <mat-form-field class="field" style="margin-bottom: 13px" [ngClass]="{'error': start_date.invalid}">
          <input matInput [matDatepicker]="picker1" [formControl]="start_date">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="info">
        <span class="label full-width-label">End</span>
        <mat-form-field class="field" style="margin-bottom: 13px" [ngClass]="{'error': end_date.invalid}">
          <input matInput [matDatepicker]="picker2" [formControl]="end_date">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="token-price-input">
      <span class="label full-width-label">Starting price</span>
      <div style="display: flex">
        <div class="field coin-selector">
          <mat-select class="coin-selector" (selectionChange)="changeStartPrice($event)" [(value)]="coinOfStartPrice">
            <mat-option *ngFor="let coin of coins" [value]="coin">
              {{coin}}
            </mat-option>
          </mat-select>
        </div>
        <div class="field after-selector">
          <span>
            <input type="number" class="after-selector" matInput placeholder="Starting price of coin" [formControl]="starting_price">
          </span>
        </div>
      </div>
    </div>
    <div class="company-type-input"> <!--//If auction, enter auction parameters-->
      <span class="label full-width-label">Type of company</span>
      <div class="field">
        <mat-select [(ngModel)]="companyType">
          <mat-option *ngFor="let type of companyTypes" [value]="type.id">
            {{type.name}}
          </mat-option>
        </mat-select>
      </div>
      <div *ngIf="companyType === 2" class="additional">
        <div class="info f-left input-2">
          <span class="label full-width-label">Interval time</span>
          <div class="field">
            <span>
              <input matInput placeholder="Interval time" [formControl]="interval_time_auction">
            </span>
          </div>
        </div>
        <div class="info f-right input-2">
          <span class="label full-width-label">Coefficient</span>
          <div class="field">
            <span>
              <input  matInput placeholder="Coefficient" [formControl]="factor">
            </span>
          </div>
        </div>
      </div>
    </div>
    <div>
      <span class="label full-width-label">Fundraising</span>
      <div class="field">
        <mat-select [(ngModel)]="fundraisingType" (valueChange)="changeFundraising($event)">
          <mat-option *ngFor="let type of fundraisingTypes" [value]="type.id">
            {{type.name}}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="whitelist-input">
      <span class="label full-width-label">Whitelist</span>
      <div class="field">
        <mat-select [(ngModel)]="whitelistType" (valueChange)="changeWhitelist($event)">
          <mat-option *ngFor="let type of whitelistTypes" [value]="type.id">
            {{type.name}}
          </mat-option>
        </mat-select>
      </div>
      <div *ngIf="whitelistType === 1 || whitelistType === 2">
        <div class="info">
          <span class="label full-width-label">Start registration</span>
          <mat-form-field class="field" style="margin-bottom: 13px">
            <input matInput [matDatepicker]="picker3" [formControl]="start_registration">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="info">
          <span class="label full-width-label">End registration</span>
          <mat-form-field class="field" style="margin-bottom: 13px">
            <input matInput [matDatepicker]="picker4" [formControl]="end_registration">
            <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
            <mat-datepicker #picker4></mat-datepicker>
          </mat-form-field>
        </div>
        <div *ngIf="whitelistType === 2" class="additional">
          <div class="info f-left input-2">
            <span class="label full-width-label">Interval time</span>
            <div class="field">
              <span>
                <input matInput placeholder="Interval time" [formControl]="interval_time_invite">
              </span>
            </div>
          </div>
          <div class="info f-right input-2">
            <span class="label full-width-label">Periodicity</span>
            <div class="field">
              <span>
                <input matInput placeholder="Periodicity" [formControl]="periodicity">
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="available-coins-input">
      <span class="label full-width-label">Available coins</span>
      <div class="field">
        <mat-select [formControl]="available_coins" multiple>
          <mat-option *ngFor="let coin of coins" [value]="coin">{{coin}}</mat-option>
        </mat-select>
      </div>
    </div>
    <div class="fees-input">
      <span class="label full-width-label">Amount of fees</span>
      <div style="display: flex">
        <div class="field coin-selector">
          <mat-select (selectionChange)="changeFeesAmount($event)" [(value)]="coinOfFeesAmount">
            <mat-option *ngFor="let coin of coins" [value]="coin">
              {{coin}}
            </mat-option>
          </mat-select>
        </div>
        <div class="field after-selector">
          <span>
            <input type="number" class="" matInput placeholder="Amount of fees" [formControl]="amount_fees">
          </span>
        </div>
      </div>
    </div>
    <div class="cashback-input">
      <span class="label full-width-label">Type of cashback</span>
      <div class="field">
        <mat-select [(ngModel)]="cashbackType">
          <mat-option *ngFor="let type of cashbackTypes" [value]="type.id">
            {{type.name}}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div>
      <span class="label full-width-label">Maximum investment, SPT</span>
      <div class="field">
        <span>
          <input matInput type="number" placeholder="Maximum investment, SPT" [formControl]="max_investment">
        </span>
      </div>
    </div>
      <div>
        <div class="password">
          <div class="field">
            <span>
                <input type="password" matInput placeholder="Password" [formControl]="password">
            </span>
          </div>
        </div>
    <div>
      <span class="label full-width-label">Logo</span>
      <div class="field file-input">
        <button class="attachment-button" mat-raised-button color="accent" mat-mini-fab (click)="logoInput.click()">
          <mat-icon>attachment</mat-icon>
        </button>
        <span class="file-name">{{ logoFileName }}</span>
        <input hidden type="file" [formControl]="logo" accept="image/*" #logoInput (change)="changeLogo($event)"/>
      </div>
    </div>
    <div>
      <span class="label full-width-label">Description</span>
      <div class="field file-input">
        <button class="attachment-button" mat-raised-button color="accent" mat-mini-fab (click)="descriptionInput.click()">
          <mat-icon>attachment</mat-icon>
        </button>
        <span class="file-name">{{ descriptionFileName }}</span>
        <input hidden type="file" [formControl]="description" accept="text/plain" #descriptionInput (change)="changeDescription($event)"/>
      </div>
    </div>
    <div class="errors" *ngFor="let error of errors">
      {{ error }}
    </div>
    <div style="border: none; padding: 0px;">
      <button type="button" mat-raised-button color="accent" class="width-button-full color" (click)="saveNewICO()" [disabled]="isSaving" >New ICO</button>
    </div>
  </div>
</div>
