/*.company-info {*/
  /*margin-top: 20px;*/
/*}*/

/*.company-info > div {*/
  /*padding: 5px;*/
  /*margin-top: 5px;*/
  /*text-align: left;*/
  /*border: 1px lightgray solid;*/
  /*border-radius: 2px;*/
/*}*/

div.errors {
  padding-bottom: 5px;
  color: red !important;
  margin: 0 auto;
}
.field.error input {
  color: red !important;
}
.input-2 {
  width: calc(50% - 10px);
}

.full-width-label {
  margin: 0;
}

.f-left {
  margin-right: 10px;
  float: left;
}

.f-right {
  margin-left: 10px;
  float: right;
}

.field.coin-selector {
  flex-shrink: 0;
  width: calc(70% - 10px);
  margin-right: 10px;
}

.field.after-selector {
  flex-shrink: 0;
  width: calc(30% - 10px);
  margin-left: 10px;
}

.flex-2-btn {
  display: inline-flex;
  width: 50%;
}

input {
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
}

.full-width {
  text-align: left;
}

.additional {
  display: inline-flex;
}

.border {
  border: 1px lightgray solid;
  border-radius: 3px;
}

.box {
  height: auto;
}

.field {
  width: 100%;
  height: 44px;
  background-color: white;
  border-radius: 2px;
  text-align: left;
  margin-bottom: 13px;
}

.disable {
  background-color: #e7e8eb !important;
}

.field span {
  margin: 0 20px 0 20px;
  font-size: 16px;
  color: #373741;
  font-family: 'Roboto-Light';
  line-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 40px);
  display: inline-block;
}

.mat-select span {
  display: inline;
}

.mat-radio-button, .mat-checkbox {
  font-family: 'Roboto-Light';
}
.mat-checkbox-layout, .mat-radio-button {
  margin-bottom: 13px;
}
h4 {
  padding: 10px 0;
  margin: 10px 0;
  border-top-color: rgba(0, 0, 0, 0.12);
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.12);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.currency-component {
  margin-top: 5px;
}

.file-input .attachment-button {
  position: absolute;
  top: 0;
  left: 0;
}

.file-input .file-name {
  padding-left: 40px;
  width: calc(100% - 80px);
  white-space: nowrap;
}

.file-input {
  position: relative;
}
