<div class="connection-container">
  <div class="connection-div" fxLayout="row" fxLayoutAlign=" center">
    <mat-icon class="list-icon">wifi</mat-icon>

    <span>Wi-Fi/LAN</span>

    <span class="spacer"></span>

    <span *ngIf="!(wifiService.available | async)">Wi-Fi is unavailable</span>
    <button mat-button color="accent" class="button-style" (click)="networkSettings()" *ngIf="(wifiService.available | async) && !(wifiService.enabled | async)">
      Enabled Wi-Fi
    </button>
    <button mat-button color="accent" class="button-style" (click)="networkSettings()" *ngIf="(wifiService.enabled | async) && !(wifiService.connected | async)">
      Connect to network
    </button>
  </div>
</div>
