.description {
  font-family: 'Roboto-Light';
  font-size: 14px;
  display: block;
  margin-top: 24px;
}

.check-phrase {
  font-family: 'Roboto-Medium';
  font-size: 20px;
  display: block;
  margin: 56px 0 20px 0;
}

.mat-input-element {
  text-align: center;
  width: 220;
}

.confirm-button {
  margin-top: 40px;
}