.mat-form-field-infix {
  width: 100%!important;
}

table td {
  width: 50%;
}

.field {
	width: calc(100% - 14px);
	height: 40px;
	background-color: #e2e3e3;
	border-radius: 2px;
  margin-top: 18px;
  text-align: left;
}

.field span {
    padding: 6px 20px 8px 20px;
    font-size: 20px;
    color: #373741;
    font-family: 'Roboto-Light';
    display: block;
}

.field.right {
	position: relative;
	left: 14px;
}

.label, .mat-select-value-text {
  position: absolute;
  color: #373741;
  font-family: 'Roboto-Light';
  font-size: 13px;
}

mat-select {
  height: 100%;
}

.qrcode {
  margin: 32px 0 32px 0;
}

.transaction-list {
  text-align: left;
  margin-bottom: 110px;
}

.transaction-value {
  font-family: 'Roboto-Light';
}

.transaction-address {
  font-family: 'Roboto-Light';
  margin: 5px 0 2px 0 !important;
}

.transaction-status {
  font-family: 'Roboto-Light';
}

.send-button-background {
  position: fixed;
  bottom: 0;
  padding: 10px 0 30px 0;
  background-color: #f5f5f5;
}