<div class="currency-component box" fxLayout="column" fxLayoutAlign="start center"> 

  <div class="header top-panel text-center">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button routerLink="/navigator">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <span>{{ currencyTitle | async }}</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="full-width field" style="margin-bottom: 13px;">
      <mat-select [(value)]="selectedAddress">
        <mat-option *ngFor="let address of addresses" [value]="address">
          {{ address }}
        </mat-option>
      </mat-select>
    </div> 

    <table class="full-width text-center">
      <tr>
        <td>
          <span class="label" style="margin-left: 5px;">{{ currencySymbol }}</span>
          <div class="field">
            <span>
              {{ currencyValueConfirmed }}
            </span>
          </div>
        </td>
        <td>
          <span class="label" style="margin-left: 19px;">{{ usdTitle }}</span>
          <div class="field right">
            <span>
              {{ usdValueConfirmed }}
            </span>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <div class="content text-center" style="overflow: scroll;max-height: 100%;">
    <div class="qrcode">
      <qr-code [value]="'bitcoin: ' + selectedAddress" [size]="150" [background]="'#f5f5f5'"></qr-code>
    </div>

    <mat-list class="full-width text-center transaction-list">
      <mat-list-item class="list-item" *ngFor="let transaction of transactions" [class.unconfirmed]="!transaction.confirmed">
        <span matLine class="transaction-amount" 
          [class.input]="transaction.type==0" 
          [class.output]="transaction.type==1">
          {{ transaction.formattedAmount }} {{ currencySymbol }}
        </span>
        <span matLine class="transaction-time" *ngIf="transaction.confirmed"> {{ transaction.time | date:'dd-MM-yyyy HH:mm' }}</span>
        <span matLine class="transaction-address" *ngIf="transaction.type==0"> {{ transaction.from }} </span>
        <span matLine class="transaction-address" *ngIf="transaction.type==1"> {{ transaction.to }} </span>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>

  <div class="footer text-center send-button-background">

    <button mat-raised-button color="accent" class="width-button-full color full-width" (click)="send()">
      {{ sendLabel }}
    </button>

  </div>
</div>

