<div fxLayout="column" fxLayoutAlign="start center" class="box">
  <mat-nav-list style="width: 100%;">
    <mat-list-item
      *ngFor="let device of (connectivityService.devices | async).values()"
      (click)="connectTo(device.ip, device.port)">
      <p class="list-name" mat-line>Spatium v{{ device.version }} at {{ device.name }}</p>
      <p class="list-info" mat-line>{{ device.ip }} : {{ device.port }}</p>
    </mat-list-item>
  </mat-nav-list>

  <mat-spinner
    mode="indeterminate"
    [strokeWidth]="5"
    color="accent"
    *ngIf="(connectivityService.connectionState | async) === socketState.Connecting">
  </mat-spinner>

  <div class="width-button-container margin93" fxLayout="column" fxLayoutAlign="start center">
    <button
      mat-raised-button
      color="accent"
      class="width-button color"
      *ngIf="(connectivityService.discoveryState | async) === stateType.Stopped"
      (click)="searchDevices()">
      Search devices
    </button>
    <button
      mat-raised-button
      color="accent"
      class="width-button color"
      *ngIf="(connectivityService.discoveryState | async) !== stateType.Stopped"
      disabled>
      Searching...
    </button>

    <button
      mat-raised-button
      color="accent"
      class="width-button color"
      *ngIf="(connectivityService.serverState | async) === stateType.Stopped"
      (click)="startAdvertising()">
      Start advertising
    </button>
    <button
      mat-raised-button
      color="accent"
      class="width-button color"
      *ngIf="(connectivityService.serverState | async) === stateType.Starting"
      disabled>
      Starting...
    </button>
    <button
      mat-raised-button
      color="accent"
      class="width-button color"
      *ngIf="(connectivityService.serverState | async) === stateType.Started"
      (click)="stopAdvertising()">
      Stop advertising
    </button>
    <button
      mat-raised-button
      color="accent"
      class="width-button color"
      *ngIf="(connectivityService.serverState | async) === stateType.Stopping"
      disabled>
      Stopping...
    </button>
    <button
      mat-raised-button
      color="accent"
      class="width-button color"
      *ngIf="(connectivityService.connected | async)"
      (click)="sendHello()">
      Send hello
    </button>
  </div>
</div>

