<mat-toolbar color="primary" [class]="toolbarClass">
  <mat-toolbar-row>
    <button mat-icon-button (click)="onBackClicked()" *ngIf="!isWindows()">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <span>{{label}}</span>

    <span class="spacer"></span>

    <button mat-icon-button (click)="onSettingsClicked()" *ngIf="hasSettings">
      <mat-icon>settings</mat-icon>
    </button>

    <button mat-icon-button (click)="onSendClicked()" *ngIf="hasSend">
      <mat-icon>send</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

