<div fxLayout="column" fxLayoutAlign="center center" class="content" style="height:246px;">
  <div fxLayout="column" fxLayoutAlign="center center" class="content" style="height:250px;">
    <div class="small-video-container" fxLayout="column" fxLayoutAlign="center center">
      <button mat-icon-button class="gigantic-button" (click)="onScan()">
        <mat-icon class="size-130">camera_alt</mat-icon>
      </button>

      <div class="glass">
        <div class="icon-custom-qr_code_large"></div>
      </div>
    </div>

    <div style="width: 100%; text-align: center; bottom: 30px;">
      <span >Tap to scan a QR-code</span>
    </div>
  </div>
</div>
