<app-toolbar
  [label] = "currencyInfo?.name"
  [isColored] = "true"
  [isShadowed] = "true"
  [hasSettings] = "true"
  (backClicked) = "onBackClicked()"
  (settingsClicked) = "onSettingsClicked()"></app-toolbar>

<div class="currency-component box" fxLayout="column" fxLayoutAlign="start center">
  <mat-progress-bar mode="indeterminate" color="accent"
                    style="width: 100%; position: fixed; z-index: 2;"
                    *ngIf="(((walletAddress | async)) === null ||
                    ((balanceCurrencyUnconfirmed | async) === null) ||
                    ((balanceUsdUnconfirmed | async) === null))"></mat-progress-bar>
  <table class="full-width two-columns" style="text-align: left; table-layout: fixed; margin-top: 5px;">
    <tr>
      <td colspan="2">
        <span class="label full-width-label">{{ accountLabel }}</span>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="margin-bottom: 13px;">
        <mat-form-field class="field" color="accent">
          <textarea readonly matInput [value]="walletAddress | async" *ngIf="(walletAddress | async) !== null"></textarea>
          <textarea readonly matInput value="Loading&hellip;" *ngIf="(walletAddress | async) === null"></textarea>
          <button id="copy" class="wallet-address-button" mat-icon-button matSuffix (click)="copy()">
            <mat-icon>content_copy</mat-icon>
          </button>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td class="right">
        <span class="label" style="margin-left: 5px;">{{ currencyInfo?.symbol }}</span>
      </td>
      <td class="left">
        <span class="label" style="margin-left: 5px;">{{ usdTitle }}</span>
      </td>
    </tr>
    <tr>
      <td class="right">
        <div class="field disable">
          <span *ngIf="(balanceCurrencyUnconfirmed | async) !== null">{{ balanceCurrencyUnconfirmed | async }}</span>
          <span *ngIf="(balanceCurrencyUnconfirmed | async) === null">Loading&hellip;</span>
        </div>
      </td>
      <td class="left">
        <div class="field disable">
          <span *ngIf="(balanceUsdUnconfirmed | async) !== null">{{ balanceUsdUnconfirmed | async }}</span>
          <span *ngIf="(balanceUsdUnconfirmed | async) === null">Loading&hellip;</span>
        </div>
      </td>
    </tr>
    <tr>
      <td class="right">
        <span class="label" style="margin-left: 5px;">Unconfirmed balance</span>
      </td>
    </tr>
  </table>

  <div class="content text-center" fxLayout="column" fxLayoutAlign="start center">
    <div class="qrcode">
      <qr-code [value]="walletAddress | async" [size]="150" [background]="'#f5f5f5'" *ngIf="(walletAddress | async) !== null" ></qr-code>
      <mat-spinner
        color="accent"
        [diameter]="150"
        [strokeWidth] = "5"
        *ngIf="(walletAddress | async) === null">
      </mat-spinner>
    </div>

    <mat-list class="text-center transaction-list">
      <mat-list-item class="list-item" [@fadeIn]="''"
                     *ngFor="let transaction of (transactions | async)"
                     [class.unconfirmed]="!transaction.confirmed">
        <span matLine class="transaction-amount"
              [class.input]="transaction.type==txType.In"
              [class.output]="transaction.type==txType.Out">
          {{ transaction.amount }} {{ currencyInfo?.symbol }}
        </span>
        <span matLine class="transaction-time"
              *ngIf="transaction.confirmed"> {{ transaction.time*1000 | date: 'medium' }}</span>
        <span matLine class="transaction-address" *ngIf="transaction.type==txType.In"> {{ transaction.from }} </span>
        <span matLine class="transaction-address" *ngIf="transaction.type==txType.Out"> {{ transaction.to }} </span>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>

  <div class="footer text-center">
    <button mat-raised-button color="accent" class="width-button-full color full-width" (click)="send()">
      {{ sendLabel }}
    </button>
  </div>
</div>





