.mat-form-field-infix {
  width: 100%!important;
}

table .full-width td {
  width: 100px;
}

.subtitle {
  margin-top: 5px;
  margin-bottom: 5px;
}

input.mat-input-element{
  margin-top: 0em;
}

.top-panel {
  padding-bottom: 10px;
  background-color: #f5f5f5;
}

.qrcode {
  margin: 32px 0 32px 0;
}

.transaction-list {
  text-align: left;
}

.transaction-amount {
  font-family: 'Roboto-Medium';
}

.transaction-address {
  font-family: 'Roboto-Light';
  margin: 5px 0 2px 0 !important;
}

.transaction-time {
  font-family: 'Roboto-Light';
  position: absolute;
  right: 16px;
}

.list-item {
  position: relative;
}

.input {
  color: #009688;
}

.output {
  color: #F44336;
}

.unconfirmed {
  opacity: 0.6;
}

.send-button-background {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 10px 0 30px 0;
  background-color: #f5f5f5;
}

textarea.mat-input-element {
  resize: none;
}

.field.auto-height {
  height: auto;
  min-height: 40px;
  padding: 10px 15px;
  padding-right: 50px;
  word-break: break-all;
  box-sizing: border-box;
  position: relative;
}

button.wallet-address-button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

.windows.box .content {
  max-height: none;
}

.windows.box.with-transactions .content {
  margin-top: 130px;
}

