<div class="currency-component box" fxLayout="column" fxLayoutAlign="start center">
  <div class="header top-panel text-center">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button [routerLink]="['/navigator', { outlets: { 'navigator': ['wallet'] } }]">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <span>{{ currencyTitle | async }}</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="full-width field" style="margin-bottom: 13px;">
      <mat-select [(value)]="selectedAddress">
        <mat-option [value]="walletAddress | async">
          {{ walletAddress | async }}
        </mat-option>
      </mat-select>
    </div>

    <table class="full-width text-center">
      <tr>
        <td>
          <span class="label" style="margin-left: 5px;">{{ currencySymbol | async }}</span>
          <div class="field">
            <span>
              {{ balanceCurrencyConfirmed | async }}
            </span>
          </div>
        </td>
        <td>
          <span class="label" style="margin-left: 19px;">{{ usdTitle }}</span>
          <div class="field right">
            <span>
              {{ balanceUsdConfirmed | async }}
            </span>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <div class="content text-center" style="overflow: scroll;max-height: 100%;">
    <div class="qrcode">
      <qr-code [value]="'bitcoin: ' + selectedAddress" [size]="150" [background]="'#f5f5f5'"></qr-code>
    </div>

    <mat-list class="full-width text-center transaction-list">
      <mat-list-item class="list-item" *ngFor="let transaction of (transactions | async)" [class.unconfirmed]="!transaction.confirmed">
        <span matLine class="transaction-amount"
          [class.input]="transaction.type==txType.In"
          [class.output]="transaction.type==txType.Out">
          {{ transaction.formattedAmount }} {{ currencySymbol | async }}
        </span>
        <span matLine class="transaction-time" *ngIf="transaction.confirmed"> {{ transaction.time*1000 | date }}</span>
        <span matLine class="transaction-address" *ngIf="transaction.type==txType.In"> {{ transaction.from }} </span>
        <span matLine class="transaction-address" *ngIf="transaction.type==txType.Out"> {{ transaction.to }} </span>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>

  <div class="footer text-center send-button-background">
    <button mat-raised-button color="accent" class="width-button-full color full-width" (click)="send()">
      {{ sendLabel }}
    </button>
  </div>
</div>

