<mat-toolbar color="primary" class="header-toolbar" *ngIf="isBlack">
  <mat-toolbar-row>
    <button mat-icon-button (click)="onBackClicked()">
      <mat-icon class="color-custom-dark">arrow_back</mat-icon>
    </button>
    <span class="color-custom-dark">{{label}}</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar color="primary" class="header-toolbar shadow" *ngIf="!isBlack">
  <mat-toolbar-row>
    <button mat-icon-button (click)="onBackClicked()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="box" fxLayout="column" fxLayoutAlign="start center">
  <div class="header text-center">
    <app-logo-block></app-logo-block>
  </div>

  <router-outlet name="factor"></router-outlet>

</div>
