<mat-grid-list [cols]="cols" rowHeight="4:3">
  <mat-grid-tile
    *ngFor="let tile of filtredTitles"
    [colspan]="tile.cols"
    [rowspan]="tile.rows">

    <div class="grid-item">
      <button mat-button class="block" style="padding: 0px;" [disabled]="tile.opened == false" (click)='onTileClicked(tile)'>
        <div class="div-height"  fxLayout="row" fxLayoutAlign="center center" >
          <div class="logo {{tile.className}}"></div>
          <div fxLayout="column" fxLayoutAlign="center start" style="height:100%; width: 50%; padding-left: 10px;
            white-space: normal;text-align: left;">
            <span class="title">{{ tile.title }}</span>
          </div>
        </div>
      </button>
    </div>
  </mat-grid-tile>
</mat-grid-list>


