<div fxLayout="column" fxLayoutAlign="start center" class="box">
  <div class="header text-center">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button routerLink="/navigator-verifier">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <span>Export secret</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="entry-margin start-logo-text" >
    </div>
    <div class="start-tagline-padding">
      <span class="start-tagline">Secure your funds</span>
    </div>
  </div>

  <div class="content-flex text-center">

  </div>

</div>


