<div fxLayout="column" fxLayoutAlign="start center">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button [routerLink]="saving ? '/start' : '/registration'">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span>{{ backupLabel }}</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-list role="list" style = "margin-bottom: 23px !important;">
    <mat-list-item>
      <p class="list-info" mat-line>{{ ethAddressLabel }}</p>
      <p class="list-name small" mat-line>{{ address }}</p>
      <button mat-icon-button matSuffix ngxClipboard [cbContent]="address">
        <mat-icon matSuffix>content_copy</mat-icon>
      </button>
    </mat-list-item>

    <mat-list-item>
      <p class="list-info" mat-line>{{ ethBalanceLabel }}</p>
      <p class="list-name" mat-line>{{ balance }}</p>

      <button matSuffix mat-icon-button (click)="updateBalance()">
        <mat-icon *ngIf="syncState==syncStateType.Ready">sync</mat-icon>
        <mat-icon class="sync" *ngIf="syncState==syncStateType.Syncing">sync</mat-icon>
        <mat-icon *ngIf="syncState==syncStateType.Error">sync_problem</mat-icon>
      </button>
    </mat-list-item>

    <mat-list-item>
      <p class="list-info" mat-line>{{ backupCostLabel }}</p>
      <p class="list-name" mat-line>{{ comission }}</p>
    </mat-list-item>
  </mat-list>

  <div class="full-width" fxLayout="column" fxLayoutAlign="start center">
    <span *ngIf="!enough">{{ notEnoughLabel }}</span>
    <div style="height: 15px;" *ngIf="!saving"></div>
    <mat-progress-bar mode="indeterminate" color="accent" style="width: 100%; margin: 5px 0" *ngIf="saving"></mat-progress-bar>
    <button mat-raised-button color="accent" class="width-button-full"
            (click)="save()"
            *ngIf="enough"
            [disabled]="saving">{{ saveLabel }}</button>
  </div>
</div>
