<div fxLayout="column" fxLayoutAlign="start center">
  <mat-toolbar class="shadow" color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="onBackClicked()"  *ngIf="!isWindows()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span>{{ title }}</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="full-width">
    <span class="description">
      {{ description }}
    </span>

    <span class="check-phrase">
      {{ checkPhrase }}
    </span>

    <mat-form-field style="width: 230px;" color="accent">
      <input matInput [(ngModel)]="checkInput">
    </mat-form-field>

    <button mat-raised-button color="accent" class="width-button-full color full-width confirm-button" [disabled]="checkPhrase!==checkInput" (click)="delete()">
      {{ confirmButton }}
    </button>
  </div>
</div>
