<app-toolbar
  label = "Deleting secret"
  [isColored] = "true"
  [isShadowed] = "true"
  (backClicked)="onBack()"></app-toolbar>

<div fxLayout="column" fxLayoutAlign="start center">
  <div class="full-width">
    <span class="description">
      Please confirm that you want to delete the secret from this device. Type the following word with respect to the register.
    </span>

    <span class="check-phrase">
      {{ checkPhrase }}
    </span>

    <mat-form-field style="width: 230px;" color="accent">
      <input matInput [(ngModel)]="checkInput">
    </mat-form-field>

    <button
      mat-raised-button
      color="accent"
      class="width-button-full color full-width confirm-button"
      [disabled]="checkPhrase !== checkInput"
      (click)="onDelete()">
      Confirm
    </button>
  </div>
</div>
