<div fxLayout="column" fxLayoutAlign="start center" class="box">

  <div class="width-button-container content" fxLayout="column" fxLayoutAlign="center center"
       *ngIf="!(enabled | async)">
    <div class="connect-text">
      <span>{{enableBTmessage}}</span>
    </div>

    <button mat-fab class="width-button">
      <mat-icon (click)="enableBluetooth()">bluetooth_disabled
      </mat-icon>
    </button>
  </div>

  <div class="width-button-container content" fxLayout="column" fxLayoutAlign="center center" *ngIf="(enabled | async)">
    <div class="verify-transaction-text">
      <span>Awaiting connection from the main device.</span>
    </div>

    <button *ngIf="!(discoverable | async)" mat-button color="accent"
            (click)="enableDiscoverable()">Enable device discovery
    </button>
  </div>
</div>
