<div fxLayout="column" fxLayoutAlign="center center">
  <div *ngIf="state === stateType.Create" style="height: 20px">
    {{ stCreate }}
  </div>

  <div *ngIf="state === stateType.Unlock" style="height: 20px">
    {{ stUnlock }}
  </div>

  <div *ngIf="state === stateType.Factor" style="height: 20px"></div>

  <div fxLayout="row" fxLayoutAlign="end center" style="width: 100%;">
    <div class="spatium-textfield entry noborder">
      <input type="password-pin" [(ngModel)]="pincode" disabled>
    </div>
    <button mat-icon-button matSuffix style="margin-right: 24px;" (click)="onBackspaceClicked()">
      <mat-icon matSuffix>backspace</mat-icon>
    </button>
  </div>

  <div class="keyboard-row margin15" fxLayout="row" fxLayoutAlign="center stretch">
    <div fxLayout="row" fxLayoutAlign="center center" class="keyboard-button" >
      <button mat-icon-button class="keyboard-size" (click)="onAddClicked(1)">
        1
      </button>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="keyboard-button" >
      <button mat-icon-button class="keyboard-size" (click)="onAddClicked(2)">
        2
      </button>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="keyboard-button" >
      <button mat-icon-button class="keyboard-size" (click)="onAddClicked(3)">
        3
      </button>
    </div>
  </div>
  <div class="keyboard-row" fxLayout="row" fxLayoutAlign="center stretch">
    <div fxLayout="row" fxLayoutAlign="center center" class="keyboard-button" >
      <button mat-icon-button class="keyboard-size" (click)="onAddClicked(4)">
        4
      </button>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="keyboard-button" >
      <button mat-icon-button class="keyboard-size" (click)="onAddClicked(5)">
        5
      </button>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="keyboard-button" >
      <button mat-icon-button class="keyboard-size" (click)="onAddClicked(6)">
        6
      </button>
    </div>
  </div>
  <div class="keyboard-row" fxLayout="row" fxLayoutAlign="center stretch">
    <div fxLayout="row" fxLayoutAlign="center center" class="keyboard-button" >
      <button mat-icon-button class="keyboard-size" (click)="onAddClicked(7)">
        7
      </button>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="keyboard-button" >
      <button mat-icon-button class="keyboard-size" (click)="onAddClicked(8)">
        8
      </button>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="keyboard-button" >
      <button mat-icon-button class="keyboard-size" (click)="onAddClicked(9)">
        9
      </button>
    </div>
  </div>
  <div class="keyboard-row" fxLayout="row" fxLayoutAlign="center stretch">
    <div fxLayout="row" fxLayoutAlign="center center" class="keyboard-button">
      <button mat-icon-button *ngIf="state === stateType.Unlock" class="keyboard-size" (click)="onDeleteClicked()">
        <mat-icon class="color-custom-dark keyboard-ok" size="34.5px">delete_forever</mat-icon>
      </button>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="keyboard-button" >
      <button mat-icon-button class="keyboard-size" (click)="onAddClicked(0)">
        0
      </button>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="keyboard-button" >
      <button mat-icon-button class="keyboard-size" (click)="onSubmitClicked()">
        <mat-icon class="color-custom-dark keyboard-ok" size="34.5px">check</mat-icon>
      </button>
    </div>
  </div>
</div>
