<div class="overlay-container"
     [style.width.px]="outerDiameter"
     [style.height.px]="outerDiameter">

  <div class="outer-spinner-wrapper">
    <mat-spinner
      color="accent"
      class="outer-spinner"
      [diameter]="outerDiameter - 10"
    [strokeWidth] = "5">
    </mat-spinner>
  </div>

  <div class="overlay-item">
    <div class="inner-spinner-wrapper">
      <mat-progress-spinner
        color="accent"
        mode="determinate"
        [value]="value"
        class="inner-spinner"
        [diameter]="innerDiameter - 10"
        [strokeWidth] = "3">
      </mat-progress-spinner>
    </div>
  </div>

  <div class="overlay-item">
    <div class="label-wrapper">
      <span  class="start-tagline">{{ value }}%</span>
    </div>
  </div>
</div>
