.grid-item {
	height: 100%;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    box-sizing: border-box;
	text-align: center;
	font-size: 14px;
}

.block {
	height: 100%;
    width: 100%;
	background-color: #2277ba;
	border-radius: 4px;
}

.logo {
	width: 75%;
    height: 75%;
    position: relative;
    top: 12.5%;
    left: 12.5%;
    background-position: center !important;
    background-size: 100% !important;
}

.title {
	color: #27304c;
	vertical-align: middle;
}
