<div fxLayout="column" fxLayoutAlign="start center" class="box">
  <div class="header text-center">
    <mat-toolbar color="primary" class="shadow">
      <div style="height:0px!important; width:0px!important;">
        <button mat-icon-button style="height:0px!important; width:0px!important;"></button>
      </div>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <span>{{ title }}</span>
    </mat-toolbar>
  </div>

  <mat-sidenav-container class="content">
    <app-main-drawer #sidenav [navLinks]="navLinks" (closeClicked)="toggle()" (linkClicked)="onNav($event)"></app-main-drawer>

    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows">

        <div class="grid-item">
          <button mat-button class="block" style="padding: 0px;" [disabled]="tile.coin == undefined" (click)='onTileClicked(tile.coin)'>
            <div class="div-height"  fxLayout="row" fxLayoutAlign="center center" >
              <div class="logo {{tile.logo}}"></div>
              <div fxLayout="column" fxLayoutAlign="center start" style="height:100%; width: 50%; padding-left: 10px;
                white-space: normal;text-align: left;">
                <span class="sym">{{tile.symbols}}</span>
                <span class="title">{{tile.title}}</span>
              </div>
            </div>
            <div class="half-height" fxLayout="column" fxLayoutAlign="center center" style="display:none!important">
              <span class="balance" *ngIf="tile.balance">{{tile.balance}} {{tile.symbols}}</span>
              <span class="balanceUSD" *ngIf="tile.balanceUsd">{{tile.balanceUsd}} USD</span>
            </div>

          </button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-sidenav-container>
</div>


