.grid-item {
	height: 100%;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    box-sizing: border-box;
	text-align: center;
	font-size: 14px;
}

.block {
	height: 100%;
  width: 100%;
	background-color: white;
	border-radius: 4px;
}

.block:disabled,
.block[disabled]{
  filter: grayscale(100%);
  opacity: 0.5;

}

.block:disabled .logo,
.block[disabled] .logo{
  opacity: 0.5;
}


.logo {
	width: 50%;
  min-width: 50%;
  height: 75%;
  background-position: center !important;
  background-size: contain !important;
  background-repeat: no-repeat;
  margin-left: -10px;
}

.sym {
  font-family: 'Roboto-Medium';
  line-height: 20px;
}

.balance {
  font-family: 'Roboto-Medium';
  line-height: 20px;
  color: #2277ba;
}

.balanceUSD {
  line-height: 20px;
}

.title {
  font-size: 12px;
  line-height: 20px;
}

.half-height {
  height: 50%;
  max-height: 50%;
  min-height: 50%;
}
