<app-toolbar
  [label] = "title"
  [isColored] = "true"
  [isShadowed] = "true"
  [hasSettings] = "false"
  (backClicked) = "onBack()"></app-toolbar>

<div class="currency-component box" [ngClass]="{'windows' : isWindows()}" fxLayout="column" fxLayoutAlign="start center">
  <table class="full-width two-columns" style="text-align: left; table-layout: fixed; margin-top: 5px;">
    <tr>
      <td colspan="2">
        <span class="label full-width-label">Token name</span>
      </td>
    </tr>
    <tr>
      <td  colspan="2">
        <mat-form-field
          class="field by-content"
          style="margin-bottom: 13px;"
          color="accent"
          fxLayout="column" fxLayoutAlign="center center">
          <input matInput [formControl]="nameField">

          <button [disabled]="disable" mat-button matSuffix mat-icon-button (click)="paste(nameField)">
            <mat-icon>content_paste</mat-icon>
          </button>
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <span class="label full-width-label">Ticker symbol</span>
      </td>
    </tr>
    <tr>
      <td  colspan="2">
        <mat-form-field
          class="field by-content"
          style="margin-bottom: 13px;"
          color="accent"
          fxLayout="column" fxLayoutAlign="center center"
          [ngClass]="{'error': tickerField.invalid}">
          <input matInput [formControl]="tickerField">

          <button [disabled]="disable" mat-button matSuffix mat-icon-button (click)="paste(tickerField)">
            <mat-icon>content_paste</mat-icon>
          </button>
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <span class="label full-width-label">Contract address</span>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="margin-bottom: 13px;">
        <mat-form-field
          class="field by-content"
          style="margin-bottom: 13px;"
          color="accent"
          fxLayout="column" fxLayoutAlign="center center"
          [ngClass]="{'error': addressField.invalid}">
          <textarea
            matInput
            mat-autosize="true"
            [formControl]="addressField"
            (blur)="setReceiverFocused(false)"
            (focus)="setReceiverFocused(true)">
          </textarea>

          <button [disabled]="disable" mat-button matSuffix mat-icon-button (click)="paste(addressField)">
            <mat-icon>content_paste</mat-icon>
          </button>
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <span class="label full-width-label">Decimals</span>
      </td>
    </tr>
    <tr>
      <td  colspan="2">
        <mat-form-field
          class="field by-content"
          style="margin-bottom: 13px;"
          color="accent"
          fxLayout="column" fxLayoutAlign="center center"
          [ngClass]="{'error': decimalsField.invalid}">
          <input matInput
                 type="number"
                 step="1"
                 [formControl]="decimalsField">
        </mat-form-field>
      </td>
    </tr>
  </table>

  <div class="full-width" style="border: none; padding: 0px;">
    <button type="button" mat-raised-button color="accent" class="width-button-full color" (click)="saveNewToken()" [disabled]="isSaving" >Add token</button>
  </div>
</div>
