.mat-form-field-infix {
  width: 100%!important;
}

table .full-width td {
  width: 100px;
}

.subtitle {
  margin-top: 5px;
  margin-bottom: 5px;
}

input.mat-input-element{
  height: inherit;
  margin-top: 0em;
}

textarea.mat-input-element{
  resize: none;
}



