<app-toolbar
  [label] = "'Transfer ' + model.name"
  [isColored] = "true"
  [isShadowed] = "true"
  (backClicked) = "onBack()">
</app-toolbar>

<div class="currency-component box" fxLayout="column" fxLayoutAlign="start center">
  <mat-progress-bar
    mode="indeterminate"
    color="accent"
    style="width: 100%; position: fixed; z-index: 2;"
    *ngIf="((wallet.state | async) !== stateType.Finalized && (wallet.state | async) !== stateType.None)">
  </mat-progress-bar>

  <table class="full-width two-columns" style="text-align: left; table-layout: fixed; margin-top: 5px;">
    <tr>
      <td colspan="2">
        <span class="label full-width-label">Account</span>
      </td>
    </tr>

    <tr>
      <td colspan="2" style="margin-bottom: 13px;">
        <mat-form-field class="wallet-address-field field by-content" color="accent" fxLayout="column" fxLayoutAlign="center center">
          <textarea
            readonly
            matInput
            mat-autosize="true"
            [value]="(wallet.address | async)"
            *ngIf="(wallet.state | async) === stateType.Finalized">
          </textarea>

          <textarea
            readonly
            matInput
            mat-autosize="true"
            [value]="(wallet.state | async) !== stateType.None ? 'Synchronizing' : 'Not synched'"
            *ngIf="(wallet.state | async) !== stateType.Finalized">
          </textarea>

          <button
            id="copy"
            class="wallet-address-button"
            mat-icon-button matSuffix
            *ngIf="(wallet.state | async) === stateType.Finalized"
            (click)="copy()">
            <mat-icon>content_copy</mat-icon>
          </button>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <span class="label full-width-label">Recipient</span>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <mat-form-field
          class="field by-content"
          style="margin-bottom: 13px;"
          color="accent"
          fxLayout="column" fxLayoutAlign="center center"
          [ngClass]="{ 'error': !(validReceiver | async) }">
          <textarea
            matInput
            mat-autosize="true"
            [formControl]="receiverField"
            (blur)="setReceiverFocused(false)"
            (focus)="setReceiverFocused(true)">
          </textarea>

          <button [disabled]="disable" id="paste" mat-button matSuffix mat-icon-button (click)="paste()">
            <mat-icon>content_paste</mat-icon>
          </button>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td class="right">
        <span class="label" style="margin-left: 5px;">{{ model.ticker }}</span>
      </td>

      <td class="left">
        <span class="label" style="margin-left: 5px;">USD</span>
      </td>
    </tr>
    <tr>
      <td class="right">
        <div class="field" style="margin-bottom: 13px;">
          <span>
            <input
              matInput
              [formControl]="amountField"
              type="number"
              ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
              step="0.01"
              (blur)="setAmountFocused(false)"
              (focus)="setAmountFocused(true)">
          </span>
        </div>
      </td>
      <td class="left">
        <div class="field" style="margin-bottom: 13px;">
          <span>
            <input
              matInput
              [formControl]="amountUsdField"
              type="number"
              ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
              step="0.01"
              (blur)="setAmountUsdFocused(false)"
              (focus)="setAmountUsdFocused(true)">
          </span>
        </div>
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <span class="label full-width-label">Transaction fee</span>
      </td>
    </tr>

    <tr *ngIf="allowFeeConfiguration">
      <td colspan="2">
        <div class="field" style="margin-bottom: 13px;">
          <mat-select [formControl]="feeTypeField">
            <mat-option [value]="feeType.Manual">
              Manual
            </mat-option>

            <mat-option [value]="feeType.Normal">
              Normal (0-1 hour)
            </mat-option>

            <mat-option [value]="feeType.Economy">
              Economy (1-24 hours)
            </mat-option>
          </mat-select>
        </div>
      </td>
    </tr>

    <tr *ngIf="allowFeeConfiguration">
      <td class="right">
        <span class="label" style="margin-left: 5px;">{{ parentModel.ticker }}</span>
      </td>

      <td class="left">
        <span class="label" style="margin-left: 5px;">USD</span>
      </td>
    </tr>

    <tr *ngIf="allowFeeConfiguration">
      <td class="right">
        <div class="field" style="margin-bottom: 13px;" [class.disable]="feeTypeField.value !== feeType.Manual">
          <span>
            <input
              *ngIf="(ready | async) && (wallet.address | async) !== null"
              matInput
              [formControl]="feeField"
              [readonly]="feeTypeField.value !== feeType.Manual"
              type="number"
              ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
              step="0.01"
              (blur)="setFeeFocused(false)"
              (focus)="setFeeFocused(true)">
            <span class="estimating" *ngIf="!(ready | async) || (wallet.address | async) === null">
              Estimating...
            </span>
          </span>
        </div>
      </td>
      <td class="left">
        <div class="field" style="margin-bottom: 13px;" [class.disable]="feeTypeField.value !== feeType.Manual">
          <span>
            <input
              *ngIf="(ready | async) && (wallet.address | async) !== null"
              matInput
              [formControl]="feeUsdField"
              [readonly]="feeTypeField.value !== feeType.Manual"
              type="number"
              ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
              step="0.01"
              (blur)="setFeeUsdFocused(false)"
              (focus)="setFeeUsdFocused(true)">
            <span class="estimating" *ngIf="!(ready | async) || (wallet.address | async) === null">
              Estimating...
            </span>
          </span>
        </div>
      </td>
    </tr>
    <tr *ngIf="feeTypeField.value === feeType.Manual && allowFeeConfiguration">
      <td class="right">
        <span class="label" style="margin-left: 5px;">{{ parentModel.ticker }}</span>
      </td>
      <td class="left">
        <span class="label" style="margin-left: 5px;">USD</span>
      </td>
    </tr>
    <tr *ngIf="feeTypeField.value === feeType.Manual && allowFeeConfiguration">
      <td class="right">
        <div class="field" style="margin-bottom: 13px;" [class.disable]="feeTypeField.value !== feeType.Manual">
          <span>
            <input
              *ngIf="(ready | async) && (wallet.address | async) !== null"
              matInput
              [formControl]="feePriceField"
              [readonly]="feeTypeField.value !== feeType.Manual"
              type="number"
              ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
              step="0.01"
              (blur)="setFeePriceFocused(false)"
              (focus)="setFeePriceFocused(true)">
            <span class="estimating" *ngIf="!(ready | async) || (wallet.address | async) === null">
              Estimating...
            </span>
          </span>
        </div>
      </td>
      <td class="left">
        <div class="field" style="margin-bottom: 13px;" [class.disable]="feeTypeField.value !== feeType.Manual">
          <span>
            <input
              *ngIf="(ready | async) && (wallet.address | async) !== null"
              matInput
              [formControl]="feePriceUsdField"hfjfjjf
              [readonly]="feeTypeField.value !== feeType.Manual"
              type="number"
              ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
              step="0.01"
              (blur)="setFeePriceUsdFocused(false)"
              (focus)="setFeePriceUsdFocused(true)">
            <span class="estimating" *ngIf="!(ready | async) || (wallet.address | async) === null">
              Estimating...
            </span>
          </span>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div style="padding-bottom: 13px;">
          <mat-checkbox style="font-family: 'Roboto-Light';" [formControl]="subtractFeeField">Subtract fee</mat-checkbox>
        </div>
      </td>
    </tr>
  </table>

  <div class="full-width">
    <div style=" bottom: 23px;
        width: 100%;">
      <span style="font-family: 'Roboto-Medium'; font-size: 15px" *ngIf="(phase | async) === phaseType.Confirmation">
        Confirm on the second device
      </span>

      <mat-progress-bar
        mode="indeterminate"
        color="accent"
        style="width: 100%; margin: 5px 0"
        *ngIf="(phase | async) === phaseType.Confirmation">
      </mat-progress-bar>
    </div>

    <span
      *ngIf="(phase | async) === phaseType.Sending"
      style="font-family: 'Roboto-Medium'; font-size: 15px; display: inline-flex; align-items: center;"
      class="green-color">
      Transaction is signed
    </span>

    <span
      *ngIf="(requiredFilled | async) && !(sufficientBalance | async)"
      style="font-size: 15px; display: inline-flex; align-items: center;">
      Insufficient funds
    </span>

    <span
      *ngIf="(requiredFilled | async) && (sufficientBalance | async) && !(sufficientValue | async)"
      style="font-size: 15px; display: inline-flex; align-items: center;">
      Insufficient amount
    </span>

    <span
      *ngIf="(requiredFilled | async) && (sufficientBalance | async) && (sufficientValue | async) && !(validReceiver | async)"
      style="font-size: 15px; display: inline-flex; align-items: center;">
      Invalid recipient address
    </span>

    <mat-progress-bar
      mode="determinate"
      value="100"
      color="accent"
      style="width: 100%; margin: 5px 0"
      *ngIf="(phase | async) === phaseType.Sending">
    </mat-progress-bar>

    <button
      *ngIf="(phase | async) === phaseType.Creation"
      mat-raised-button
      color="accent"
      class="width-button-full color"
      (click)="startSigning()"
      [disabled]="!(valid | async)">
      Sign transaction
    </button>
    <button
      *ngIf="(phase | async) === phaseType.Sending"
      mat-raised-button
      color="accent"
      class="width-button-full color"
      (click)="sendTransaction()">
      Send transaction
    </button>
  </div>
</div>
