<app-toolbar
  [label] = "titile +' '+currencyInfo?.name"
  [isColored] = "true"
  [isShadowed] = "true"
  (backClicked)="onBackClicked()"></app-toolbar>

<div class="currency-component box" fxLayout="column" fxLayoutAlign="start center">
  <mat-progress-bar mode="indeterminate" color="accent"
                    style="width: 100%; position: fixed; z-index: 2;"
                    *ngIf="(walletAddress | async) === null"></mat-progress-bar>
  <table class="full-width two-columns" style="text-align: left; table-layout: fixed; margin-top: 5px;">
    <tr>
      <td colspan="2">
        <span class="label full-width-label">{{ accountPh }}</span>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="margin-bottom: 13px;">
        <mat-form-field class="wallet-address-field field" color="accent">
          <textarea readonly matInput [value]="walletAddress | async" *ngIf="(walletAddress | async) !== null"></textarea>
          <textarea readonly matInput value="Loading&hellip;" *ngIf="(walletAddress | async) === null"></textarea>
          <button id="copy" class="wallet-address-button" mat-icon-button matSuffix (click)="copy()">
            <mat-icon>content_copy</mat-icon>
          </button>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <span class="label full-width-label">{{ receiverPh }}</span>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <mat-form-field class="field" style="margin-bottom: 13px;" color="accent">
          <textarea matInput [formControl]="receiver"></textarea>
          <button id="paste" mat-button matSuffix mat-icon-button (click)="paste()">
            <mat-icon>content_paste</mat-icon>
          </button>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td class="right">
        <span class="label" style="margin-left: 5px;">{{ currencyInfo?.symbol }}</span>
      </td>
      <td class="left">
        <span class="label" style="margin-left: 5px;">USD</span>
      </td>
    </tr>
    <tr>
      <td class="right">
        <div class="field" style="margin-bottom: 13px;">
          <span>
            <input matInput
                   [formControl]="amount"
                   type="number"
                   ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                   step="0.01">
          </span>
        </div>
      </td>
      <td class="left">
        <div class="field" style="margin-bottom: 13px;">
          <span>
            <input matInput
                   [formControl]="amountUsd"
                   type="number"
                   ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                   step="0.01">
          </span>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <span class="label full-width-label">{{ stFee }}</span>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="field" style="margin-bottom: 13px;">
          <mat-select [formControl]="feeTypeControl">
            <mat-option [value]="feeType.Manual">
              {{ stManual }}
            </mat-option>
            <mat-option [value]="feeType.Normal">
              {{ stNormal }}
            </mat-option>
            <mat-option [value]="feeType.Economy">
              {{ stEconomy }}
            </mat-option>
          </mat-select>
        </div>
      </td>
    </tr>
    <tr>
      <td class="right">
        <span class="label" style="margin-left: 5px;">{{ currencyInfo?.symbol }}</span>
      </td>
      <td class="left">
        <span class="label" style="margin-left: 5px;">USD</span>
      </td>
    </tr>
    <tr>
      <td class="right">
        <div class="field" style="margin-bottom: 13px;" [class.disable]="feeTypeControl.value !== feeType.Manual">
          <span>
            <input matInput
                   [formControl]="fee"
                     [readonly]="feeTypeControl.value !== feeType.Manual"
                     type="number"
                     ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                     step="0.01">
          </span>
        </div>
      </td>
      <td class="left">
        <div class="field" style="margin-bottom: 13px;" [class.disable]="feeTypeControl.value !== feeType.Manual">
          <span>
            <input matInput
                   [formControl]="feeUsd"
                   [readonly]="feeTypeControl.value !== feeType.Manual"
                   type="number"
                   ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                   step="0.01">
          </span>
        </div>
      </td>
    </tr>
    <tr *ngIf="feeTypeControl.value === feeType.Manual">
      <td class="right">
        <span class="label" style="margin-left: 5px;">{{ currencyInfo?.gasUnit }}</span>
      </td>
      <td class="left">
        <span class="label" style="margin-left: 5px;">USD</span>
      </td>
    </tr>
    <tr *ngIf="feeTypeControl.value === feeType.Manual">
      <td class="right">
        <div class="field" style="margin-bottom: 13px;" [class.disable]="feeTypeControl.value !== feeType.Manual">
          <span>
            <input matInput
                   [formControl]="feePrice"
                   [readonly]="feeTypeControl.value !== feeType.Manual"
                   type="number"
                   ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                   step="0.01">
          </span>
        </div>
      </td>
      <td class="left">
        <div class="field" style="margin-bottom: 13px;" [class.disable]="feeTypeControl.value !== feeType.Manual">
          <span>
            <input matInput
                   [formControl]="feePriceUsd"
                   [readonly]="feeTypeControl.value !== feeType.Manual"
                   type="number"
                   ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                   step="0.01">
          </span>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div style="padding-bottom: 13px;">
          <mat-checkbox style="font-family: 'Roboto-Light';" [formControl]="subtractFee">{{stFeeOriginRecipient}}</mat-checkbox>
        </div>
      </td>
    </tr>
  </table>

  <div class="full-width">
    <div style=" bottom: 23px;
        width: 100%;">
      <span style="font-family: 'Roboto-Medium'; font-size: 15px" *ngIf="(phase | async) === phaseType.Confirmation">{{ stAwaitConfirm }}</span>
      <mat-progress-bar mode="indeterminate"
                        color="accent"
                        style="width: 100%; margin: 5px 0"
                        *ngIf="(phase | async) === phaseType.Confirmation"></mat-progress-bar>
    </div>
    <span *ngIf="(phase | async) === phaseType.Sending"
          style="font-family: 'Roboto-Medium'; font-size: 15px; display: inline-flex; align-items: center;" class="green-color">{{ stSigningResult }}
    </span>
    <span *ngIf="!(enougthCashObserver | async)"
          style="font-size: 15px; display: inline-flex; align-items: center;">Insufficient funds
    </span>
    <mat-progress-bar mode="determinate" value="100" color="accent" style="width: 100%; margin: 5px 0"
                        *ngIf="(phase | async) === phaseType.Sending"></mat-progress-bar>

    <button *ngIf="(phase | async) === phaseType.Creation" mat-raised-button color="accent" class="width-button-full color" (click)="startSigning()" [disabled]="!(validatorObserver | async)">
      {{ stTransfer }}
    </button>
    <button *ngIf="(phase | async) === phaseType.Sending" mat-raised-button color="accent" class="width-button-full color" (click)="sendTransaction()">
      {{ stSend }}
    </button>
  </div>
</div>



