.mat-form-field-infix {
  width: 100%!important;
}

table .full-width td {
  width: 100px;
}

.subtitle {
  margin-top: 5px;
  margin-bottom: 5px;
}

input.mat-input-element{
  height: inherit;
  margin-top: 0em;
}

textarea.mat-input-element{
  resize: none;
  font-family: 'Roboto-Light';
}

textarea.mat-input-element:disabled {
  color: #373741;
}

.estimating {
  margin: 0 !important;
  width: 100% !important;
}

.by-content {
  height: auto;
}

mat-form-field .by-content {
  min-height: 44px;
}

.mat-form-field-infix{
  height: inherit;
}

#synchronizing {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  pointer-events: none;
  cursor: default;
}

