:host {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-form-field-infix {
  width: 100%!important;
}

table .full-width td {
  width: 100px;
}

.subtitle {
  margin-top: 5px;
  margin-bottom: 5px;
}

input.mat-input-element{
  margin-top: 0em;
}



