:host {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: center flex-start;
  align-items: center;
  width: 100%;
}

.connected-device {
  width: 100%;
  padding: 0 16px;
  height: 36px;
}

.font-span {
  font-family: 'Roboto-Light';
}

.rectangle-active {
  margin: 0 4px;
  height: 10px;
  width: 6px;
  background-color: rgb(34, 119, 186);
}

.rectangle-inactive {
  margin: 0 4px;
  height: 10px;
  width: 6px;
  background-color: rgb(155, 160, 160);
}

.icon-sync {
  padding: 0px 9px 0px 4px;
  font-size: 16px;
  height: 16px;
  width: 16px;
  align-content: center;
}
