:host {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}

.main-nav-list-custom {
  height: 60px !important;
  display: block !important;
  border-bottom: 1px solid #f1f1f4;
}

.selected {
  background-color: rgba(29, 29, 38, 0.03) !important;
  font-weight: bold;
}
