<mat-toolbar color="primary" class="header-toolbar shadow">
  <mat-toolbar-row>
    <button mat-icon-button (click)="onBackClicked()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>{{ currencyInfo?.name }} settings</span>
    <span class="spacer"></span>

    <button mat-icon-button (click)="onSaveClicked()">
      <mat-icon>check</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="currency-settings-component full-width" fxLayout="column" fxLayoutAlign="start center">
    <div class="settings-block">
        <div class="settings-field">
            <label>API Server</label>
            <mat-select class="select-field" [(ngModel)]="currencySettings.serverName">
                <mat-option *ngFor="let serverName of getApiServerKeys()" [value]="serverName">
                  {{ serverName }}
                </mat-option>
                <mat-option [value]="'Custom'">
                  Custom
                </mat-option>
            </mat-select>
        </div>
        <div class="settings-field" *ngIf="currencySettings?.serverName == 'Custom'">
            <label>Custom server url</label>
            <input matInput placeholder="e.g. https://apiserver:port/api" class="text-field" [(ngModel)]="currencySettings.serverUrl">
            <mat-error *ngIf="customApiServerInvalid">
              Invalid URL
            </mat-error>
        </div>
    </div>
</div>

