<mat-toolbar color="primary" class="header-toolbar shadow">
  <mat-toolbar-row>
    <button mat-icon-button class="back-button" (click)="onBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>{{ currencyInfo?.name }} settings</span>
    <span class="spacer"></span>

    <button mat-icon-button (click)="onSaveClicked()">
      <mat-icon>check</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="currency-settings-component full-width" fxLayout="column" fxLayoutAlign="start center">
  <div class="settings-block">
      <div class="settings-field">
        <label>API Server</label>
        <mat-select class="select-field" *ngIf="!!settings" [(ngModel)]="settings.apiServer">
          <mat-option *ngFor="let apiServer of apiServers" [value]="apiServer.key">
            {{ apiServer.value }}
          </mat-option>
          <mat-option [value]="apiServerType.Custom">
            Custom
          </mat-option>
        </mat-select>
      </div>
      <div class="settings-field" *ngIf="!!settings && settings.apiServer === apiServerType.Custom">
        <label>Custom server url</label>
        <input matInput placeholder="e.g. https://apiserver:port/api" class="text-field" [(ngModel)]="settings.customApiServer">
        <mat-error *ngIf="customApiServerInvalid">
          Invalid URL
        </mat-error>
      </div>
  </div>
</div>

