

<div fxLayout="column" fxLayoutAlign="start center">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button routerLink="/start">
        <mat-icon class="color-custom-dark">arrow_back</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="entry-margin start-logo-text" >
  </div>
  <div class="start-tagline-padding">
    <span class="start-tagline">Secure your funds</span>
  </div>
  <div class="margin-top-18">
    <mat-icon class="color-custom-dark">lock_outline</mat-icon>
  </div>
  <div class="margin-top-18 light">
    {{username}}
  </div>

  <mat-list>
    <mat-list-item style="height: 54.5px!important; border-bottom: 1px solid #e0e0e0;" *ngFor="let factor of factors;"
                   (click)="goTo(factor)">
      <h4 mat-line class="factor-text">
        <div class="factor-icon">
          <mat-icon matPrefix class="factor-icon-padding">{{factor.icon}}</mat-icon>
        </div>
        {{factor.name}}
      </h4>
    </mat-list-item>
  </mat-list>


  <div class="margin-top-18">
    <button mat-fab>
      <mat-icon (click)="sddNewFactor()">add
      </mat-icon>
    </button>
  </div>

  <button mat-raised-button color="accent" class="width-button color overlay-bottom-center" [disabled]="loginDisable" (click)="letLogin()" >{{login}}</button>

</div>

