<div fxLayout="column" fxLayoutAlign="start center" class="box">
  <div class="header text-center">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button routerLink="/start">
          <mat-icon class="color-custom-dark">arrow_back</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="entry-margin start-logo-text" >
    </div>
    <div class="start-tagline-padding">
      <span class="start-tagline">Secure your funds</span>
    </div>

    <div class="margin-top-18">
      <mat-icon class="color-custom-dark">lock_outline</mat-icon>
    </div>
    <div class="margin-top-18 light">
      {{ username }}
    </div>

    <div class="top-arrow-scroll" id="top-scroller">
      <button mat-icon-button (click)="goTop()">
        <mat-icon>keyboard_arrow_up</mat-icon>
      </button>
    </div>
  </div>

  <div class="content text-center" style="overflow: scroll;max-height: 100%;" id="factor-container" #factorContainer>
    <div style="width: 100%;" fxLayout="column" fxLayoutAlign="center center"  *ngFor="let factor of factors;">
      <div style="margin-left: 50px;">
        <button mat-icon-button style="width: 16px; height: 16px; line-height: 16px" (click)="removeFactor(factor)">
          <mat-icon style="height: 14px; width: 14px; font-size: 14px; line-height: 14px">close</mat-icon>
        </button>
      </div>
      <div>
        <mat-icon color="accent"  matPrefix class="factor-icon-big" *ngIf="factor.icon != ''">{{factor.icon}}</mat-icon>
        <div class="{{factor.icon_asset}}-mask" *ngIf="factor.icon_asset != ''">
        </div>
      </div>
    </div>
  </div>

  <div class="footer text-center" style="bottom: 0px;">
    <div class="bottom-arrow-scroll" id="bottom-scroller">
      <button mat-icon-button (click)="goBottom()">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
    </div>

    <div style="padding-bottom: 10px">
      <button mat-fab (click)="sddNewFactor()">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <button mat-raised-button color="accent" class="width-button color" [disabled]="loginDisable" (click)="letLogin()" >{{ login }}</button>

  </div>

</div>

