<app-toolbar
  [label] = "project.title"
  [isColored] = "true"
  [isShadowed] = "true"
  (backClicked) = "onBack()"></app-toolbar>

<div class="investment-component box" fxLayout="column" fxLayoutAlign="start left">
  <div class="text-field">
    <div class="header">
      <img class="logo {{project.className}}" [src]="project.logo">
      <h2>{{(campaign | async)?.title}}</h2>
    </div>
    <mat-list>
      <mat-divider></mat-divider>
      <mat-list-item>
        <div matLine>
          <p class="text">{{ project.description }}</p>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <h4>Investments</h4>
    <mat-list>
      <mat-divider></mat-divider>
      <mat-list-item>
        <div matLine>
          <p class="text">Amount of emission: {{ (campaign | async)?.amountOffered }}</p>
        </div>
        <div matLine>
          <p class="text">Contract address: {{ (campaign | async)?.address }}</p>
        </div>
        <div matLine>
          <p class="text">Ticker: {{(campaign | async)?.ticker}}</p>
        </div>
        <div matLine>  
          <p class="text">Max amount of investments</p>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <h4>ICO type</h4>
    <mat-list>
      <mat-divider></mat-divider>
      <mat-list-item>
        <div matLine>
          <p class="text">ICO type: {{ (campaign | async)?.type }}</p>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <h4>Dates</h4>
    <mat-list>
      <mat-divider></mat-divider>
      <mat-list-item matLine>
        <div matLine class="space-between">
          <span class="text">ICO start: {{ ((campaign | async)?.startDate) | date:'medium' }}</span>
          <span class="text">ICO end: {{ ((campaign | async)?.endDate) | date:'medium' }}</span>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <mat-divider></mat-divider>
  </div>
  <div class="form-field">
    <div class="form-field-input">
      <button *ngIf="true" type="button" mat-raised-button color="accent" class="width-button-full color" (click)="whitelist()">Whitelist me</button>
      <button *ngIf="true" type="button" mat-raised-button color="accent" class="width-button-full color" (click)="investments(false)">Investments for organizer</button>
      <button *ngIf="true" type="button" mat-raised-button color="accent" class="width-button-full color" (click)="investments(true)">Investments for investor</button>
      <button *ngIf="true" type="button" mat-raised-button color="accent" class="width-button-full color" (click)="reminder()">Add reminder</button>
    </div>
  </div>
</div>
