<app-toolbar
  [label] = "project.title"
  [isColored] = "true"
  [isShadowed] = "true"
  (backClicked) = "onBack()"></app-toolbar>

<div class="investment-component box" fxLayout="column" fxLayoutAlign="start left">
  <div class="text-field">
    <div class="header">About {{project.title}}</div>
    <p class="about text">
      Something about project
    </p>
    <div class="header">Balances</div>
    <p class="balances text">
      Something about balances
    </p>
    <div class="header">Transactions</div>
    <p class="transactions text">
      Something about transactions
    </p>
  </div>
  <div class="form-field">
    <mat-select placeholder="Coin" class="form-field-select" (selectionChange)="changeSel($event)" [(value)]="coin">
      <mat-option *ngFor="let coin of project.coins" [value]="coin.place">
        {{coin.name}}
      </mat-option>
    </mat-select>
    <div class="form-field-input">
      <button *ngIf="true" type="button" mat-raised-button color="accent" class="width-button-full color" (click)="whitelist()">Whitelist me</button>
      <button *ngIf="true" type="button" mat-raised-button color="accent" class="width-button-full color" (click)="import()">Import</button>
      <button *ngIf="true" type="button" mat-raised-button color="accent" class="width-button-full color" (click)="investments(false)">Investments for organizer</button>
      <button *ngIf="true" type="button" mat-raised-button color="accent" class="width-button-full color" (click)="investments(true)">Investments for investor</button>
      <button *ngIf="true" type="button" mat-raised-button color="accent" class="width-button-full color" (click)="reminder()">Add reminder</button>
    </div>
  </div>
</div>
