<app-toolbar
  [label]=""
  [isColored]="false"
  [isShadowed]="false"
  (backClicked)="onBack()"></app-toolbar>

<div fxLayout="column" fxLayoutAlign="start center" class="box">
  <div class="header text-center">
    <app-logo-block></app-logo-block>
    <div fxLayout="row" fxLayoutAlign="center center" style="width: 100%;" class="start-tagline-padding">
      <div fxLayout="row" fxLayoutAlign="space-around center" style="width: 33.3%;">
        <button mat-icon-button class="fab" (click)="toggleContent(contentType.Login)">
          <mat-icon class="size-40" color="accent" *ngIf="content === contentType.Login">text_fields</mat-icon>
          <mat-icon class="size-40 optical-4" *ngIf="content !== contentType.Login">text_fields</mat-icon>
        </button>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around center" style="width: 33.3%;" >
        <button mat-icon-button class="fab" fxLayout="row" fxLayoutAlign="center center"
                (click)="toggleContent(contentType.QR)">
          <div fxLayoutAlign="center center" *ngIf="content === contentType.QR">
              <span class="icon-custom-qr_code_blue"></span>
          </div>
          <div fxLayoutAlign="center center" *ngIf="content !== contentType.QR">
              <span class="icon-custom-qr_code_black optical-4"></span>
          </div>
        </button>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around center" style="width: 33.3%;" *ngIf="isNfcAvailable">
        <button mat-icon-button class="fab" (click)="toggleContent(contentType.NFC)">
          <mat-icon class="size-40" color="accent" *ngIf="content === contentType.NFC">nfc</mat-icon>
          <mat-icon class="size-40 optical-4" *ngIf="content !== contentType.NFC">nfc</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <app-login
    class="header text-center"
    *ngIf="content === contentType.Login"
    (login)="onLogin($event)"
    (busy)="onBusy($event)">
  </app-login>

  <div class="footer text-center">
    <button
      type="button"
      mat-raised-button
      color="accent"
      class="width-button color"
      (click)="signIn()"
      [disabled]="buttonState === stateType.Empty"
      *ngIf="buttonState === stateType.Exists || buttonState === stateType.Empty">
      Sign in
    </button>
    <button
      type="button"
      mat-raised-button
      color="accent"
      class="width-button color"
      (click)="signUp()"
      *ngIf="buttonState === stateType.New">
      Sign up
    </button>
    <button
      type="button"
      mat-raised-button
      color="accent"
      class="width-button color"
      disabled
      *ngIf="buttonState === stateType.Updating">
      <mat-spinner diameter="25" style="margin: auto;"></mat-spinner>
    </button>
    <button
      type="button"
      mat-raised-button
      color="accent"
      class="width-button color"
      (click)="checkInput(input)"
      *ngIf="buttonState === stateType.Error">{{ stError }}
    </button>
  </div>

</div>
