<div fxLayout="column" fxLayoutAlign="center center" style="height: 100%">
  <div *ngIf="state === stateType.Create" style="height: 20px">
    {{ stCreate }}
  </div>

  <div *ngIf="state === stateType.Unlock" style="height: 20px">
    {{ stUnlock }}
  </div>

  <div mat-fab class="overlay-bottom-center" fxLayout="column" fxLayoutAlign="start center" style="width:100%">
    <mat-icon class="color-cool_grey icon-60" style="padding: 5px" *ngIf="!isScanning">fingerprint</mat-icon>
    <mat-icon class="bluish icon-60" style="padding: 5px" *ngIf="isScanning">fingerprint</mat-icon>
    <div style="padding-top: 5px;" >
      {{ stFinger }}
    </div>
    <div class="width-button-width" style="display: inline-block">
      <button mat-icon-button [matMenuTriggerFor]="menu" style="float: right;">
        <mat-icon style="opacity: 0.5;">settings</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onDeleteClicked()">
          <mat-icon>delete_forever</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </div>
  </div>
</div>

