<div fxLayout="column" fxLayoutAlign="start center">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button routerLink="/login">
        <mat-icon class="color-custom-dark">arrow_back</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="entry-margin start-logo-text" >
  </div>
  <div class="start-tagline-padding">
    <span class="start-tagline">Secure your funds</span>
  </div>
  <div style="height: 24.5px"></div>

  <div fxLayout="column" fxLayoutAlign="start center" style="max-height: 100%;">

    <div mat-fab class="overlay-bottom-center" fxLayout="column" fxLayoutAlign="start center">
      <mat-icon [class]="fingerClass" style="padding: 5px">fingerprint</mat-icon>
      <div style="padding-top: 5px;" >
        {{ stFinger }}
      </div>
    </div>
  </div>


</div>
