/* You can add global styles to this file, and also import other style files */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

app-root {
  display: block;
  width: 100%;
  height: 100%;
}

.currency-component {
  max-width: 700px !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.currency-component .mat-select-trigger {
  height: 100%;
}

.currency-component .mat-select-value-text {
  padding: 0 20px 0 20px;
  color: #373741;
  font-family: 'Roboto-Light';
  display: block;
  line-height: 40px;

}

.currency-component .mat-select-arrow {
  background: url(assets/images/drawable/select_arrow.svg);
  background-repeat: no-repeat;
  border-top: 0px;
  background-size: contain;
  border-left: 0px;
  border-right: 0px;
  margin: 0 22px 0 22px;
  width: 19px;
  height: 9px;
}
