<mat-toolbar color="primary" class="color-custom-dark header-toolbar">
  <mat-toolbar-row>
    <button mat-icon-button (click)="onBackClicked()" *ngIf="!isWindows()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>{{stConnect}}</span>
  </mat-toolbar-row>
</mat-toolbar>

<div fxLayout="column" fxLayoutAlign="start center" class="box">
  <div class="width-button-container content" fxLayout="column" fxLayoutAlign="center center">
    <mat-progress-spinner mode="determinate" color="accent" [value]="progress | async"></mat-progress-spinner>
  </div>
</div>
