
.example-sidenav-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  width: 278px;
}

.spatium-logo-text {
  height: 80px;
}

.nav-logo-text {
  height: 22px !important;
}

.mat-list .mat-list-item .mat-list-item-content, .mat-list .mat-list-option .mat-list-item-content, .mat-nav-list .mat-list-item .mat-list-item-content, .mat-nav-list .mat-list-option .mat-list-item-content, .mat-selection-list .mat-list-item .mat-list-item-content, .mat-selection-list .mat-list-option .mat-list-item-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 0 18px;
  position: relative;
  height: inherit;
}

.mat-list .mat-list-item, .mat-list .mat-list-option, .mat-nav-list .mat-list-item, .mat-nav-list .mat-list-option, .mat-selection-list .mat-list-item, .mat-selection-list .mat-list-option {
  display: block;
  height: 60px;
  border-bottom: 1px solid #f1f1f4;
}

.bottom-absolute {
  position: absolute;
  bottom: 0;
  display: block;
  height: 60px;
  width: 100%;
}

.static {
  position: static !important;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 0 18px;
  position: relative;
  height: inherit;
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}
