<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <button mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>{{ title }}</span>
  <span class="toolbar-spacer"></span>
</mat-toolbar>

<mat-sidenav-container class="static">
  <mat-sidenav #sidenav class="example-sidenav" mode="over" [fixedInViewport]="true">
    <mat-list-item>
      <div fxLayout="row" fxLayoutAlign=" center" class="spatium-logo-text">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>clear</mat-icon>
        </button>
        <img src="./assets/images/drawable/logo.svg" class="nav-logo-text">
      </div>
    </mat-list-item>
    <mat-nav-list *ngFor="let navLink of navLinks">
      <a mat-list-item routerLink="{{navLink.link}}">{{navLink.name}}</a>
    </mat-nav-list>

    <mat-list-item class="bottom-absolute">
      <div class="content">
        <span>Ночной режим</span>

        <span class="spacer"></span>
        <mat-slide-toggle></mat-slide-toggle>
      </div>
    </mat-list-item>


  </mat-sidenav>

  <div style="text-align:center; height: 100%;" class="{{ platform }} test">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <img width="300" alt="Angular Logo"
         src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  </div>
  <h2>{{ message }} </h2>
</mat-sidenav-container>
