<form class="width-button-container" fxLayout="column" fxLayoutAlign="start center" (submit)="goNext()"
      style="margin-top: 70px;">
  <div class="spatium-textfield entry bottom32">
    <input type="password" placeholder="{{stPassword}}" [(ngModel)]="password" name="Password" [autofocus] [disabled]="busy">
  </div>

  <button type="button" mat-raised-button color="accent" [disabled]="password.length < 1" *ngIf="!busy" class="width-button color"
          (click)="goNext()">{{stContinue}}
  </button>
  <button type="button" mat-raised-button color="accent" class="width-button color" disabled *ngIf="busy">
    <mat-spinner diameter="25" style="margin: auto;"></mat-spinner>
  </button>
</form>


