<mat-toolbar color="primary" class="header-toolbar shadow">
  <mat-toolbar-row>
    <button mat-icon-button class="back-button" (click)="onBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span style="overflow: hidden; text-overflow: ellipsis;">Select a device to sync</span>
    <span class="spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

<div fxLayout="column" fxLayoutAlign="start center" style="z-index: 1;" class="box">
  <div class="width-button-container" fxLayout="column" fxLayoutAlign="start center">
    <app-connectivity-manage></app-connectivity-manage>
    <mat-nav-list style="width: 100%;">
      <mat-list-item *ngFor="let device of (devices | async)" (click)="connectTo(device)">
        <p class="list-name" mat-line>{{ device.name }}</p>
        <p *ngIf="device.provider === providerType.Wifi" class="list-info" mat-line>{{ device.data.host }}:{{ device.data.port }}</p>
        <p *ngIf="device.provider === providerType.Bluetooth" class="list-info" mat-line>{{ device.data.address }} {{ device.data.paired ? 'paired' : '' }}</p>
      </mat-list-item>
    </mat-nav-list>
  </div>
</div>