.example-radio-group {
  display: inline-flex;
  flex-direction: column;
  align-items: start;
  margin: 5px;
}

.example-radio-button {
  margin: 15px;
  padding: 10px;
}

.example-selected-value {
  margin: 15px 0;
}


