<app-toolbar
  label="Import secret"
  (backClicked)="onBack()">
</app-toolbar>

<div fxLayout="column" fxLayoutAlign="start center" class="box" *ngIf="buttonState !== stateType.Decrypting">
  <div class="header text-center">
    <div fxLayout="row" fxLayoutAlign="center center" style="width: 100%;" class="start-tagline-padding">
      <div fxLayout="row" fxLayoutAlign="space-around center" style="width: 33.3%;" *ngIf="cameraAvailable">
        <button
          mat-icon-button
          class="fab"
          fxLayout="row"
          fxLayoutAlign="center center"
          (click)="toggleContent(contentType.QR)">
          <div fxLayoutAlign="center center">
              <span
                [class.icon-custom-qr_code_blue]="content === contentType.QR"
                [class.icon-custom-qr_code_black]="content !== contentType.QR"
                [class.optical-4]="content !== contentType.QR">
              </span>
          </div>
        </button>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around center" style="width: 33.3%;" *ngIf="nfcAvailable">
        <button mat-icon-button class="fab" (click)="toggleContent(contentType.NFC)">
          <mat-icon class="size-40" color="accent" *ngIf="content === contentType.NFC">nfc</mat-icon>
          <mat-icon class="size-40 optical-4" *ngIf="content !== contentType.NFC">nfc</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <app-qr-reader
    class="header text-center"
    *ngIf="content === contentType.QR && cameraAvailable"
    (scanned)="onInput(contentType.QR, $event)">
  </app-qr-reader>

  <app-nfc-reader
    class="header text-center"
    *ngIf="content === contentType.NFC && nfcAvailable"
    (scanned)="onInput(contentType.NFC, $event)">
  </app-nfc-reader>

  <div class="footer text-center">
    <button
      type="button"
      mat-raised-button
      color="accent"
      class="width-button color"
      [disabled]="buttonState !== stateType.Imported"
      *ngIf="buttonState !== stateType.Importing"
      (click)="onImport()">
      Import
    </button>
    <button
      type="button"
      mat-raised-button
      color="accent"
      class="width-button color"
      disabled
      *ngIf="buttonState === stateType.Importing">
      <mat-spinner diameter="25" style="margin: auto;"></mat-spinner>
    </button>
  </div>
</div>

<div class="box" fxLayout="column" fxLayoutAlign="start center" *ngIf="buttonState === stateType.Decrypting">
  <div class="header text-center">
    <app-logo-block></app-logo-block>
  </div>

  <app-pincode
    class="factor-content"
    [busy]="busy"
    [allowFingerprint]="false"
    (submit)="onPincode($event)">
  </app-pincode>
</div>
