<div fxLayout="column" fxLayoutAlign="start center" class="box">
  <div class="header text-center">
    <mat-toolbar color="primary" class="shadow">
      <mat-toolbar-row>
        <button mat-icon-button routerLink="/navigator-verifier">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <span>Import secret</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="box content-flex text-center">
    <div class="header" fxLayout="column" fxLayoutAlign="start start">
      <mat-radio-group class="example-radio-group" [(ngModel)]="selectedType">
        <mat-radio-button class="example-radio-button" fxLayout="row" fxLayoutAlign="space-around center"
                          *ngFor="let type of types" [value]="type">
          <mat-icon matPrefix *ngIf="type.icon">{{type.icon}}</mat-icon>
          <div class="{{type.icon_asset}}-sizeless" style="height: 20px;
              width: 20px;
              display: inline-block;
              margin: 2px;" *ngIf="type.icon_asset"></div>
          <span style="padding-left: 8px;">{{type.name}}</span>
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <app-qr-code class="content-flex text-center" style="position: relative;" *ngIf="selectedType.name == 'QR'"
                 (clearEvent)="setEmpty()"
                 (inputEvent)="setInput($event)"></app-qr-code>
    <app-nfc class="content-flex text-center" style="position: relative;" *ngIf="selectedType.name == 'NFC'"
             (clearEvent)="setEmpty()"
             (inputEvent)="setInput($event)"></app-nfc>

    <span style="margin: 5px 0px;" [class]="incorrectSecret" (clearEvent)="setEmpty()">Incorrect secret</span>
    <div class="footer text-center">
      <button type="button" mat-raised-button color="accent" class="width-button color" [disabled]="buttonState === stateType.Empty">Import</button>
    </div>

  </div>


</div>
