<app-toolbar
  (backClicked)="onBack()">
</app-toolbar>

<div fxLayout="column" fxLayoutAlign="start center" class="box">
  <div class="header text-center">
    <app-logo-block></app-logo-block>
  </div>

  <div class="content text-center" fxLayout="column" fxLayoutAlign="space-around center">
    <div style="font-size: 18px;line-height: 48px;">
      <span>You have successfully created a secure, personal SPATIUM account!</span>
    </div>

    <button
      mat-raised-button
      color="accent"
      (click)="onSubmit()"
      class="width-button color">
      Open wallet
    </button>
  </div>
</div>

