<app-toolbar
  (backClicked)="onBackClicked()"></app-toolbar>

<div fxLayout="column" fxLayoutAlign="start center" class="box">
  <div class="header text-center">
    <app-logo-block></app-logo-block>
  </div>

  <div class="content text-center" fxLayout="column" fxLayoutAlign="space-around center">
    <div style="font-size: 18px;line-height: 48px;">
      <span>{{stSuccess0}}</span>
      <span>{{stSuccess1}}</span>
    </div>
    <button mat-raised-button color="accent" (click)="goWaiting()" class="width-button color" >{{stOpenWallet}}</button>
  </div>

</div>

