

<div fxLayout="column" fxLayoutAlign="start center">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button routerLink="/start">
        <mat-icon class="color-custom-dark">arrow_back</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="entry-margin start-logo-text" >
  </div>
  <div class="start-tagline-padding">
    <span class="start-tagline">Secure your funds</span>
  </div>

  <div class="width-button-container margin97" fxLayout="column" fxLayoutAlign="start center">

    <div class="spatium-textfield entry bottom32">
      <input type="password" placeholder="{{stPassword}}" [(ngModel)]="passwordValue">
    </div>

    <button mat-raised-button color="accent" class="width-button color" [disabled]="isDisable" (click)="goNext()" >{{next}}</button>
  </div>

</div>

