<div fxLayout="column" fxLayoutAlign="start center">

  <form class="width-button-container" fxLayout="column" fxLayoutAlign="start center" (submit)="goNext()" style="margin-top: 70px;">

    <div class="spatium-textfield entry bottom32">
      <input type="password" placeholder="{{stPassword}}" [(ngModel)]="Password" name="Password">
    </div>

    <button type="button" mat-raised-button color="accent" [disabled]="isDisable" class="width-button color" (click)="goNext()" >{{stContinue}}</button>
  </form>

</div>

