@import '~@angular/material/theming';
@import "default-palette";
@import "dark-palette";

@include mat-core();

$default-primary: mat-palette($default, 500);
$default-accent: mat-palette($default-inverse, 500);
$default-warn: mat-palette($mat-deep-orange);
$default-theme: mat-light-theme($default-primary, $default-accent, $default-warn);

@include angular-material-theme($default-theme);

$dark-primary: mat-palette($mat-pink, 700);
$dark-accent: mat-palette($mat-blue-grey);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.dark-theme {
  @include angular-material-theme($dark-theme);
}

