@import '~@angular/material/theming';
@include mat-core();

$mat-custom: (
  50: #f5f5f5,
  100: #f5f5f5,
  200: #f5f5f5,
  300: #f5f5f5,
  400: #f5f5f5,
  500:#f5f5f5,
  600: #f5f5f5,
  700: #f5f5f5,
  800: #f5f5f5,
  900: #f5f5f5,
  A100: #f5f5f5,
  A200: #f5f5f5,
  A400: #f5f5f5,
  A700: #f5f5f5,
  contrast: (
    50: #E4EFF7,
    100: #BDD6EA,
    200: #91BBDD,
    300:  #64A0CF,
    400:  #438BC4,
    500:#2277BA,
    600: #1E6FB3,
    700: #1964AB,
    800: #145AA3,
    900: #0C4794,
    A100: #C3DAFF,
    A200: #90BBFF,
    A400: #5D9CFF,
    A700: #438CFF,
  )
);

$mat-custom-inverse: (
  50: #E4EFF7,
  100: #BDD6EA,
  200: #91BBDD,
  300:  #64A0CF,
  400:  #438BC4,
  500:#2277BA,
  600: #1E6FB3,
  700: #1964AB,
  800: #145AA3,
  900: #0C4794,
  A100: #C3DAFF,
  A200: #90BBFF,
  A400: #5D9CFF,
  A700: #438CFF,
  contrast: (
    50: #f5f5f5,
    100: #f5f5f5,
    200: #f5f5f5,
    300: #f5f5f5,
    400: #f5f5f5,
    500: #f5f5f5,
    600: #f5f5f5,
    700: #f5f5f5,
    800: #f5f5f5,
    900: #f5f5f5,
    A100: #f5f5f5,
    A200: #f5f5f5,
    A400: #f5f5f5,
    A700: #f5f5f5,
  )
);

$my-app-primary: mat-palette($mat-custom, 500);//'#2277ba';
$my-app-accent:  mat-palette($mat-custom-inverse, 500);//$mat-teal, 500, 900, A100);
$my-app-warn:    mat-palette($mat-deep-orange);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);

.dark-theme {
  // Dark theme
  $app-dark-primary: mat-palette($mat-pink, 700);
  $app-dark-accent: mat-palette($mat-blue-grey);
  $app-dark-theme: mat-dark-theme($app-dark-primary, $app-dark-accent);

  @include angular-material-theme($app-dark-theme);
}

