$accent: rgb(78,0,255);
$charcoal_grey : rgb(55, 55, 65);
$dark : rgb(29, 29, 38);
$cool_grey : rgb(155, 160, 160);
$white : rgb(245, 245, 245);
$shadow:rgba(44, 46, 49, 0.21);
$green: rgb(24, 154, 57);
$error-field: #ff5722;
$background-color: #f5f5f5;
$font-color: rgb(245, 245, 245);
