<app-connect *ngIf="(synchronizing | async)" (cancel)="cancelConnect()"></app-connect>

<mat-toolbar color="primary" class="header-toolbar shadow" *ngIf="!(synchronizing | async)">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ title }}</span>
</mat-toolbar>

<mat-progress-bar mode="determinate" color="accent" [value]="(progress | async)" *ngIf="(synchronizing | async)"
      style="width: 100%; position: fixed; z-index: 2;">
</mat-progress-bar>


<div fxLayout="column" fxLayoutAlign="start center" class="box" *ngIf="!(synchronizing | async)">
  <mat-sidenav-container class="content">
    <app-main-drawer #sidenav [navLinks]="navLinks" (closeClicked)="toggle()"
                     (linkClicked)="onNav($event)"></app-main-drawer>
    <app-verify-waiting *ngIf="!(ready | async)" ></app-verify-waiting>

    <app-verify-transaction *ngIf="(ready | async)"></app-verify-transaction>
  </mat-sidenav-container>
</div>
