<app-connect *ngIf="(synchronizing | async)" (cancel)="cancelConnect()"></app-connect>

<mat-toolbar color="primary" class="header-toolbar" *ngIf="!(synchronizing | async) && !isWindows()">
  <mat-toolbar-row>
    <button mat-icon-button (click)="onBackClicked()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div *ngIf="!(synchronizing | async)" fxLayout="column" fxLayoutAlign="start center" style="width:100%" class="box">
  <app-logo-block></app-logo-block>

  <div class="width-button-container content" fxLayout="column" fxLayoutAlign="center center" *ngIf="!(enabled | async)">
    <div class="connect-text">
      <span>{{enableBTmessage}}</span>
    </div>

    <button mat-fab  class="width-button">
      <mat-icon (click)="enableBluetooth()">bluetooth_disabled
      </mat-icon>
    </button>
  </div>

  <div class="width-button-container content" fxLayout="column" fxLayoutAlign="center center" *ngIf="(enabled | async)">
    <div class="verify-transaction-text" *ngIf="!(ready | async)">
      <span>Awaiting connection from the main device.</span>
    </div>

    <button *ngIf="!(discoverable | async) && !(ready | async)" mat-button color="accent" (click)="enableDiscoverable()">Enable device discovery</button>
  </div>
</div>
